@charset "UTF-8";
/* Fonts Roboto*/
@font-face {
  font-family: 'roboto_condensedbold';
  src: url("../fonts/robotocondensed-bold-webfont.woff2") format("woff2"), url("robotocondensed-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto_condensedbold_italic';
  src: url("../fonts/robotocondensed-bolditalic-webfont.woff2") format("woff2"), url("robotocondensed-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto_condenseditalic';
  src: url("../fonts/robotocondensed-italic-webfont.woff2") format("woff2"), url("robotocondensed-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto_condensedlight';
  src: url("../fonts/robotocondensed-light-webfont.woff2") format("woff2"), url("robotocondensed-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto_condensedlight_italic';
  src: url("../fonts/robotocondensed-lightitalic-webfont.woff2") format("woff2"), url("robotocondensed-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto_condensedregular';
  src: url("../fonts/robotocondensed-regular-webfont.woff2") format("woff2"), url("robotocondensed-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* line 39, sass/avaluo-styles.sass */
.imagen-full {
  width: 100%;
  height: auto;
  display: block;
}

/* line 44, sass/avaluo-styles.sass */
.registro {
  background: rgba(227, 37, 34, 0.895);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000000000000;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 10px;
}

/* line 55, sass/avaluo-styles.sass */
.registro .campo {
  width: 100%;
  border-radius: 15px;
  text-align: center;
  transition: .4s ease-in-out;
}

@media (max-width: 768px) {
  /* line 55, sass/avaluo-styles.sass */
  .registro .campo {
    width: 70%;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

@media (max-width: 556px) {
  /* line 55, sass/avaluo-styles.sass */
  .registro .campo {
    width: 100%;
    height: auto;
  }
}

/* line 68, sass/avaluo-styles.sass */
.registro .campo:focus {
  outline: 0;
  box-shadow: none;
  border: 1px solid red;
}

/* line 72, sass/avaluo-styles.sass */
.registro h2 {
  font-family: 'roboto_condensedlight';
  color: white;
  text-transform: uppercase;
  font-size: 1.5em;
  text-align: center;
}

/* line 78, sass/avaluo-styles.sass */
.registro .ingresar {
  width: 100%;
  padding: 10px;
  text-align: center;
  display: block;
  text-decoration: none;
  background: #3E3E3E;
  color: white;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}

/* line 89, sass/avaluo-styles.sass */
.registro .cerrar {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  font-size: 2em;
}

/* line 95, sass/avaluo-styles.sass */
.registro .facebook-login {
  width: 100%;
  padding: 10px;
  text-align: center;
  display: block;
  text-decoration: none;
  background: #1064B2;
  color: white;
  margin-top: 10px;
}

/* line 106, sass/avaluo-styles.sass */
.logo-responsive {
  width: 160px;
  height: auto;
  background: white;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 10000;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 10px 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05);
  display: none;
}

@media (max-width: 996px) {
  /* line 106, sass/avaluo-styles.sass */
  .logo-responsive {
    display: block;
  }
}

/* line 122, sass/avaluo-styles.sass */
.logo-responsive img {
  display: block;
  width: 100%;
}

/* line 125, sass/avaluo-styles.sass */
.full-height {
  height: 100%;
}

/* line 127, sass/avaluo-styles.sass */
.container-icon {
  position: fixed;
  width: 34px;
  height: 24px;
  z-index: 100000000;
  top: 0;
  left: 0;
  width: 50px;
  height: 44px;
  cursor: pointer;
  overflow: hidden;
  background: #606060;
  display: none;
}

@media (max-width: 996px) {
  /* line 127, sass/avaluo-styles.sass */
  .container-icon {
    display: block;
  }
}

/* line 142, sass/avaluo-styles.sass */
.container-icon .icon-toggle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 36px;
  height: 28px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: .4s ease-in-out;
}

/* line 151, sass/avaluo-styles.sass */
.container-icon .icon-toggle:hover span.bar1 {
  left: 120%;
}

/* line 153, sass/avaluo-styles.sass */
.container-icon .icon-toggle:hover span.bar2 {
  left: 120%;
}

/* line 155, sass/avaluo-styles.sass */
.container-icon .icon-toggle:hover span.bar3 {
  left: 120%;
}

/* line 157, sass/avaluo-styles.sass */
.container-icon .icon-toggle span {
  position: absolute;
  width: 100%;
  height: 5px;
  background: white;
  transition: .4s ease-in-out;
}

/* line 163, sass/avaluo-styles.sass */
.container-icon .icon-toggle span.bar1 {
  left: 0;
  top: 0;
  transition: .4s ease-in-out;
}

/* line 167, sass/avaluo-styles.sass */
.container-icon .icon-toggle span.bar2 {
  left: 0;
  top: 10px;
  transition: .6s ease-in-out;
}

/* line 171, sass/avaluo-styles.sass */
.container-icon .icon-toggle span.bar3 {
  left: 0;
  top: 20px;
  transition: .8s ease-in-out;
}

/* line 175, sass/avaluo-styles.sass */
.container-icon .icon-toggle span.bar4 {
  left: 0;
  transition: .6s ease-in-out;
}

/* line 178, sass/avaluo-styles.sass */
.container-icon .icon-toggle span.bar5 {
  right: 0;
  transition: .8s ease-in-out;
}

/* line 183, sass/avaluo-styles.sass */
.menu-responsive-back {
  background: #424242;
  width: 0%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: .4s ease-in-out;
  z-index: 100000;
  overflow: hidden;
  /* Logo*/
}

/* line 193, sass/avaluo-styles.sass */
.menu-responsive-back.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100000;
  height: 100vh;
  transition: .4s ease-in-out;
  background: #424242;
}

/* line 204, sass/avaluo-styles.sass */
.menu-responsive-back .logo-wrapper {
  position: relative;
  display: block;
  text-align: center;
  margin-top: 60px;
  height: 20%;
}

/* line 210, sass/avaluo-styles.sass */
.menu-responsive-back .logo-wrapper .logo {
  display: block;
  width: 200px;
  margin: 0 auto;
}

/* line 214, sass/avaluo-styles.sass */
.menu-responsive-back .social-media {
  margin-top: 40px;
  text-align: center;
}

/* line 217, sass/avaluo-styles.sass */
.menu-responsive-back .social-media ul {
  margin: 0;
  padding: 0;
}

/* line 220, sass/avaluo-styles.sass */
.menu-responsive-back .social-media ul li {
  list-style: none;
  display: inline-block;
}

/* line 223, sass/avaluo-styles.sass */
.menu-responsive-back .social-media ul li a {
  color: #C9C9C9;
  margin: 0 5px;
  transition: .4s ease-in-out;
}

/* line 227, sass/avaluo-styles.sass */
.menu-responsive-back .social-media ul li a:hover {
  color: #F4F4F4;
}

/* line 229, sass/avaluo-styles.sass */
.menu-responsive-back .social-media ul li a i {
  font-size: 1.5em;
}

/* line 231, sass/avaluo-styles.sass */
.menu-responsive-back nav {
  width: 70%;
  position: relative;
  margin: 0 auto;
}

/* line 235, sass/avaluo-styles.sass */
.menu-responsive-back nav .menu-container {
  padding: 50px;
  height: 50%;
}

/* line 238, sass/avaluo-styles.sass */
.menu-responsive-back nav .menu-container .item-menu {
  list-style: none;
  margin-bottom: 10px;
  text-align: center;
}

/* line 242, sass/avaluo-styles.sass */
.menu-responsive-back nav .menu-container .item-menu .link-ext {
  position: relative;
  color: white;
  text-decoration: none;
  transition: .4s ease-in-out;
  font-size: 1em;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  /* line 242, sass/avaluo-styles.sass */
  .menu-responsive-back nav .menu-container .item-menu .link-ext {
    font-size: 2em;
  }
}

@media (max-width: 768px) {
  /* line 242, sass/avaluo-styles.sass */
  .menu-responsive-back nav .menu-container .item-menu .link-ext {
    font-size: 1.3em;
  }
}

/* line 253, sass/avaluo-styles.sass */
.menu-responsive-back nav .menu-container .item-menu .link-ext:after {
  content: '';
  background-image: url(../../img/border-right.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  position: absolute;
  right: -20px;
  top: -13px;
  opacity: 0;
  transition: .4s ease-in-out;
}

/* line 267, sass/avaluo-styles.sass */
.menu-responsive-back nav .menu-container .item-menu .link-ext:hover {
  font-family: 'roboto_condensedbold';
}

/* line 269, sass/avaluo-styles.sass */
.menu-responsive-back nav .menu-container .item-menu .link-ext:hover:after {
  opacity: 1;
  right: -10px;
  top: -3px;
}

/* line 273, sass/avaluo-styles.sass */
.menu-responsive-back nav .menu-container .item-menu .link-ext:hover:before {
  opacity: 1;
  left: -10px;
  bottom: -3px;
}

/* line 277, sass/avaluo-styles.sass */
.menu-responsive-back nav .menu-container .item-menu .link-ext:before {
  content: '';
  background-image: url(../../img/border-left.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  position: absolute;
  left: -20px;
  bottom: -13px;
  opacity: 0;
  transition: .4s ease-in-out;
}

/* line 291, sass/avaluo-styles.sass */
.menu-responsive-back nav .menu-container .item-menu .link-ext.active {
  font-family: 'roboto_condensedbold';
}

/* line 293, sass/avaluo-styles.sass */
.menu-responsive-back nav .menu-container .item-menu .link-ext.active:after {
  content: '';
  background-image: url(../../img/border-right.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  position: absolute;
  right: -10px;
  top: -3px;
  opacity: 1;
}

/* line 306, sass/avaluo-styles.sass */
.menu-responsive-back nav .menu-container .item-menu .link-ext.active:before {
  content: '';
  background-image: url(../../img/border-left.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  position: absolute;
  left: -10px;
  bottom: -3px;
  opacity: 1;
}

/* line 319, sass/avaluo-styles.sass */
.menu-responsive-back nav .menu-container .item-menu .link {
  position: relative;
  color: white;
  text-decoration: none;
  transition: .4s ease-in-out;
  font-size: 1em;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  /* line 319, sass/avaluo-styles.sass */
  .menu-responsive-back nav .menu-container .item-menu .link {
    font-size: 2em;
  }
}

@media (max-width: 768px) {
  /* line 319, sass/avaluo-styles.sass */
  .menu-responsive-back nav .menu-container .item-menu .link {
    font-size: 1.3em;
  }
}

/* line 330, sass/avaluo-styles.sass */
.menu-responsive-back nav .menu-container .item-menu .link:after {
  content: '';
  background-image: url(../../img/border-right.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  position: absolute;
  right: -20px;
  top: -13px;
  opacity: 0;
  transition: .4s ease-in-out;
}

/* line 344, sass/avaluo-styles.sass */
.menu-responsive-back nav .menu-container .item-menu .link:hover {
  font-family: 'roboto_condensedbold';
}

/* line 346, sass/avaluo-styles.sass */
.menu-responsive-back nav .menu-container .item-menu .link:hover:after {
  opacity: 1;
  right: -10px;
  top: -3px;
}

/* line 350, sass/avaluo-styles.sass */
.menu-responsive-back nav .menu-container .item-menu .link:hover:before {
  opacity: 1;
  left: -10px;
  bottom: -3px;
}

/* line 354, sass/avaluo-styles.sass */
.menu-responsive-back nav .menu-container .item-menu .link:before {
  content: '';
  background-image: url(../../img/border-left.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  position: absolute;
  left: -20px;
  bottom: -13px;
  opacity: 0;
  transition: .4s ease-in-out;
}

/* line 368, sass/avaluo-styles.sass */
.menu-responsive-back nav .menu-container .item-menu .link.active {
  font-family: 'roboto_condensedbold';
}

/* line 370, sass/avaluo-styles.sass */
.menu-responsive-back nav .menu-container .item-menu .link.active:after {
  content: '';
  background-image: url(../../img/border-right.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  position: absolute;
  right: -10px;
  top: -3px;
  opacity: 1;
}

/* line 383, sass/avaluo-styles.sass */
.menu-responsive-back nav .menu-container .item-menu .link.active:before {
  content: '';
  background-image: url(../../img/border-left.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  position: absolute;
  left: -10px;
  bottom: -3px;
  opacity: 1;
}

/* line 398, sass/avaluo-styles.sass */
body {
  font-family: 'roboto_condensedlight';
}

/* Márgenes*/
/* line 403, sass/avaluo-styles.sass */
.home {
  position: relative;
}

/* line 405, sass/avaluo-styles.sass */
.home span.top {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  z-index: 10;
  background: white;
}

@media (max-width: 996px) {
  /* line 405, sass/avaluo-styles.sass */
  .home span.top {
    height: 20px;
  }
}

/* line 415, sass/avaluo-styles.sass */
.home span.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  z-index: 10;
  background: white;
}

@media (max-width: 996px) {
  /* line 415, sass/avaluo-styles.sass */
  .home span.bottom {
    height: 20px;
  }
}

/* line 425, sass/avaluo-styles.sass */
.home span.left {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 100%;
  z-index: 10;
  background: white;
}

@media (max-width: 996px) {
  /* line 425, sass/avaluo-styles.sass */
  .home span.left {
    width: 20px;
  }
}

/* line 436, sass/avaluo-styles.sass */
.home span.right {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 100%;
  z-index: 10;
  background: white;
}

@media (max-width: 996px) {
  /* line 436, sass/avaluo-styles.sass */
  .home span.right {
    width: 20px;
  }
}

/*Menu*/
/* line 449, sass/avaluo-styles.sass */
.menu {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 350px;
  background: white;
  padding-top: 50px;
  padding-bottom: 50px;
  /* Logo*/
}

@media (max-width: 996px) {
  /* line 449, sass/avaluo-styles.sass */
  .menu {
    display: none;
  }
}

/* line 463, sass/avaluo-styles.sass */
.menu .logo-wrapper {
  position: relative;
  display: block;
  text-align: center;
  margin-top: 30px;
}

/* line 468, sass/avaluo-styles.sass */
.menu .logo-wrapper .logo {
  display: block;
  width: 200px;
  margin: 0 auto;
}

/* line 472, sass/avaluo-styles.sass */
.menu .social-media {
  margin-bottom: 40px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/* line 478, sass/avaluo-styles.sass */
.menu .social-media ul {
  margin: 0;
  padding: 0;
}

/* line 481, sass/avaluo-styles.sass */
.menu .social-media ul li {
  list-style: none;
  display: inline-block;
}

/* line 484, sass/avaluo-styles.sass */
.menu .social-media ul li a {
  color: gray;
  margin: 0 5px;
  transition: .4s ease-in-out;
}

/* line 488, sass/avaluo-styles.sass */
.menu .social-media ul li a:hover {
  color: #283B65;
}

/* line 490, sass/avaluo-styles.sass */
.menu .social-media ul li a i {
  font-size: 1.5em;
}

/* line 492, sass/avaluo-styles.sass */
.menu .menu-container {
  padding: 50px;
  padding-bottom: 40px;
  padding-top: 40px;
  padding-left: 80px;
  margin-top: 30px;
}

/* line 498, sass/avaluo-styles.sass */
.menu .menu-container .item-menu {
  list-style: none;
  margin-bottom: 10px;
}

/* line 501, sass/avaluo-styles.sass */
.menu .menu-container .item-menu .link-ext {
  position: relative;
  color: gray;
  text-decoration: none;
  transition: .4s ease-in-out;
  font-size: 1em;
  text-transform: uppercase;
}

/* line 508, sass/avaluo-styles.sass */
.menu .menu-container .item-menu .link-ext:after {
  content: '';
  background-image: url(../../img/border-right.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  position: absolute;
  right: -20px;
  top: -13px;
  opacity: 0;
  transition: .4s ease-in-out;
}

/* line 522, sass/avaluo-styles.sass */
.menu .menu-container .item-menu .link-ext:hover {
  font-family: 'roboto_condensedbold';
}

/* line 524, sass/avaluo-styles.sass */
.menu .menu-container .item-menu .link-ext:hover:after {
  opacity: 1;
  right: -10px;
  top: -3px;
}

/* line 528, sass/avaluo-styles.sass */
.menu .menu-container .item-menu .link-ext:hover:before {
  opacity: 1;
  left: -10px;
  bottom: -3px;
}

/* line 532, sass/avaluo-styles.sass */
.menu .menu-container .item-menu .link-ext:before {
  content: '';
  background-image: url(../../img/border-left.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  position: absolute;
  left: -20px;
  bottom: -13px;
  opacity: 0;
  transition: .4s ease-in-out;
}

/* line 546, sass/avaluo-styles.sass */
.menu .menu-container .item-menu .link-ext.active {
  font-family: 'roboto_condensedbold';
}

/* line 548, sass/avaluo-styles.sass */
.menu .menu-container .item-menu .link-ext.active:after {
  content: '';
  background-image: url(../../img/border-right.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  position: absolute;
  right: -10px;
  top: -3px;
  opacity: 1;
}

/* line 561, sass/avaluo-styles.sass */
.menu .menu-container .item-menu .link-ext.active:before {
  content: '';
  background-image: url(../../img/border-left.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  position: absolute;
  left: -10px;
  bottom: -3px;
  opacity: 1;
}

/* line 574, sass/avaluo-styles.sass */
.menu .menu-container .item-menu .link {
  position: relative;
  color: gray;
  text-decoration: none;
  transition: .4s ease-in-out;
  font-size: 1em;
  text-transform: uppercase;
}

/* line 581, sass/avaluo-styles.sass */
.menu .menu-container .item-menu .link:after {
  content: '';
  background-image: url(../../img/border-right.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  position: absolute;
  right: -20px;
  top: -13px;
  opacity: 0;
  transition: .4s ease-in-out;
}

/* line 595, sass/avaluo-styles.sass */
.menu .menu-container .item-menu .link:hover {
  font-family: 'roboto_condensedbold';
}

/* line 597, sass/avaluo-styles.sass */
.menu .menu-container .item-menu .link:hover:after {
  opacity: 1;
  right: -10px;
  top: -3px;
}

/* line 601, sass/avaluo-styles.sass */
.menu .menu-container .item-menu .link:hover:before {
  opacity: 1;
  left: -10px;
  bottom: -3px;
}

/* line 605, sass/avaluo-styles.sass */
.menu .menu-container .item-menu .link:before {
  content: '';
  background-image: url(../../img/border-left.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  position: absolute;
  left: -20px;
  bottom: -13px;
  opacity: 0;
  transition: .4s ease-in-out;
}

/* line 619, sass/avaluo-styles.sass */
.menu .menu-container .item-menu .link.active {
  font-family: 'roboto_condensedbold';
}

/* line 621, sass/avaluo-styles.sass */
.menu .menu-container .item-menu .link.active:after {
  content: '';
  background-image: url(../../img/border-right.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  position: absolute;
  right: -10px;
  top: -3px;
  opacity: 1;
}

/* line 634, sass/avaluo-styles.sass */
.menu .menu-container .item-menu .link.active:before {
  content: '';
  background-image: url(../../img/border-left.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  position: absolute;
  left: -10px;
  bottom: -3px;
  opacity: 1;
}

/* line 650, sass/avaluo-styles.sass */
.wrapper {
  position: relative;
  left: 350px;
  top: 50px;
  width: calc(100% - 400px);
  overflow: hidden;
  transition: .3s ease-in-out;
}

@media (max-width: 996px) {
  /* line 650, sass/avaluo-styles.sass */
  .wrapper {
    top: 20px;
    left: 20px;
    width: calc(100% - 40px);
  }
}

/* line 662, sass/avaluo-styles.sass */
section.section {
  width: 100%;
  height: calc(100vh - 100px);
  position: relative;
  margin-bottom: 50px;
  overflow: hidden;
  padding: 10px;
}

@media (max-width: 996px) {
  /* line 662, sass/avaluo-styles.sass */
  section.section {
    height: calc(100vh - 40px);
  }
}

/* line 672, sass/avaluo-styles.sass */
section.slider {
  background-image: url();
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}

/* line 678, sass/avaluo-styles.sass */
section.slider .slide {
  height: 100%;
  width: 100%;
  position: relative;
}

/* line 682, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

/* line 686, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner .carousel-item {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

/* line 690, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner .carousel-item h3 {
  color: #858585;
  font-size: 1.4em;
  text-align: center;
  margin: 0;
}

@media (max-width: 768px) {
  /* line 690, sass/avaluo-styles.sass */
  section.slider .slide .carousel-inner .carousel-item h3 {
    font-size: 2.1em;
  }
}

@media (max-width: 556px) {
  /* line 690, sass/avaluo-styles.sass */
  section.slider .slide .carousel-inner .carousel-item h3 {
    margin-top: 60px;
    font-size: .8em;
  }
}

/* line 700, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner .carousel-item h2 {
  color: #bcbcbc;
  font-family: 'roboto_condensedbold_italic';
  font-size: 3em;
  text-align: center;
  margin: 0;
}

@media (max-width: 768px) {
  /* line 700, sass/avaluo-styles.sass */
  section.slider .slide .carousel-inner .carousel-item h2 {
    font-size: 4em;
  }
}

@media (max-width: 556px) {
  /* line 700, sass/avaluo-styles.sass */
  section.slider .slide .carousel-inner .carousel-item h2 {
    font-size: 1.3em;
  }
}

/* line 710, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner .carousel-item h2 span {
  display: block;
  font-size: .45em !important;
  font-family: 'roboto_condensedregular';
}

/* line 714, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner .carousel-item h1 {
  text-align: center;
  margin: 30px 0;
  font-family: 'roboto_condensedbold_italic';
  font-size: 3em;
  color: white;
}

@media (max-width: 768px) {
  /* line 714, sass/avaluo-styles.sass */
  section.slider .slide .carousel-inner .carousel-item h1 {
    font-size: 2.4em;
  }
}

@media (max-width: 556px) {
  /* line 714, sass/avaluo-styles.sass */
  section.slider .slide .carousel-inner .carousel-item h1 {
    font-size: 1.1em;
  }
}

/* line 724, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner .carousel-item h1 .one {
  position: relative;
  background: #5b5b5b;
  padding: 5px 10px;
}

/* line 728, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner .carousel-item h1 .one:after {
  height: 100%;
  width: 100%;
}

/* line 732, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner .carousel-item h1 .two {
  position: relative;
  background: #e44040;
  padding: 5px 20px;
}

/* line 736, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner .carousel-item h1 .two:after {
  height: 100%;
  width: 100%;
}

/* line 740, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner .carousel-item form {
  width: 100%;
}

/* line 742, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner .carousel-item form .campo {
  width: 23%;
  margin: 0 6px;
  border-radius: 15px;
  text-align: center;
  transition: .4s ease-in-out;
}

@media (max-width: 768px) {
  /* line 742, sass/avaluo-styles.sass */
  section.slider .slide .carousel-inner .carousel-item form .campo {
    width: 70%;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

@media (max-width: 556px) {
  /* line 742, sass/avaluo-styles.sass */
  section.slider .slide .carousel-inner .carousel-item form .campo {
    width: 100%;
    height: auto;
  }
}

/* line 756, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner .carousel-item form .campo:focus {
  outline: 0;
  box-shadow: none;
  border: 1px solid red;
}

/* line 760, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner .carousel-item form .select {
  width: 25%;
  margin: 0 6px;
  border-radius: 15px;
  text-align: center;
  color: gray;
  transition: .4s ease-in-out;
}

@media (max-width: 768px) {
  /* line 760, sass/avaluo-styles.sass */
  section.slider .slide .carousel-inner .carousel-item form .select {
    width: 70%;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

@media (max-width: 556px) {
  /* line 760, sass/avaluo-styles.sass */
  section.slider .slide .carousel-inner .carousel-item form .select {
    width: 100%;
    height: auto;
  }
}

/* line 775, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner .carousel-item form .select:focus {
  outline: 0 !important;
  box-shadow: none;
  border: 1px solid red;
}

/* line 779, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner .carousel-item form .select option {
  text-align: center;
}

@media (max-width: 768px) {
  /* line 779, sass/avaluo-styles.sass */
  section.slider .slide .carousel-inner .carousel-item form .select option {
    width: 100%;
  }
}

/* line 783, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner .carousel-item form .enviar {
  width: 20%;
  cursor: pointer;
  border: 0;
  background: red;
  border-radius: 15px;
  color: white;
  transition: .5s ease-in-out;
}

/* line 791, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner .carousel-item form .enviar:hover {
  background: #3C5B93;
}

@media (max-width: 768px) {
  /* line 783, sass/avaluo-styles.sass */
  section.slider .slide .carousel-inner .carousel-item form .enviar {
    width: 40%;
    margin: 10px auto;
    font-size: 2em;
  }
}

@media (max-width: 556px) {
  /* line 783, sass/avaluo-styles.sass */
  section.slider .slide .carousel-inner .carousel-item form .enviar {
    font-size: 1.0em;
    margin-bottom: 0;
  }
}

/* line 800, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner .carousel-item .result {
  margin-top: 30px;
  position: relative;
}

/* line 803, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner .carousel-item .result span.title-valor {
  position: absolute;
  display: block;
  left: 50%;
  top: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 6px 15px;
  background: #3C5B93;
  color: white;
  font-family: 'roboto_condensedlight_italic';
  font-size: .85em;
}

@media (max-width: 556px) {
  /* line 803, sass/avaluo-styles.sass */
  section.slider .slide .carousel-inner .carousel-item .result span.title-valor {
    font-size: .65em;
  }
}

/* line 816, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner .carousel-item .result span.valor {
  font-family: 'roboto_condensedlight_italic';
  padding: 10px 80px;
  background: white;
  font-size: 1.5em;
  color: #4C4C4C;
  position: relative;
}

@media (max-width: 768px) {
  /* line 816, sass/avaluo-styles.sass */
  section.slider .slide .carousel-inner .carousel-item .result span.valor {
    padding: 10px 30px;
  }
}

@media (max-width: 556px) {
  /* line 816, sass/avaluo-styles.sass */
  section.slider .slide .carousel-inner .carousel-item .result span.valor {
    font-size: 1.2em;
  }
}

/* line 827, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner .carousel-item .result span.valor:after {
  content: '';
  background-image: url(../../img/border-right.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  position: absolute;
  right: -20px;
  top: -13px;
  opacity: 1;
  transition: .4s ease-in-out;
  z-index: 100000;
}

/* line 842, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner .carousel-item .result span.valor:before {
  content: '';
  background-image: url(../../img/border-left.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  position: absolute;
  left: -20px;
  bottom: -13px;
  opacity: 1;
  transition: .4s ease-in-out;
}

/* line 857, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner .carousel-item .registrate {
  color: white;
  font-family: 'roboto_condensedbold_italic';
  text-align: center;
  display: inline-block;
  font-size: 2em;
  margin-top: 50px;
  background: red;
  padding: 10px 20px;
  text-decoration: none;
}

@media (max-width: 768px) {
  /* line 857, sass/avaluo-styles.sass */
  section.slider .slide .carousel-inner .carousel-item .registrate {
    font-size: 1.3em;
    padding: 10px 30px;
  }
}

@media (max-width: 556px) {
  /* line 857, sass/avaluo-styles.sass */
  section.slider .slide .carousel-inner .carousel-item .registrate {
    font-size: .85em;
    padding: 10px 30px;
  }
}

/* line 874, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner .search {
  background-image: url(../../img/search.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
}

/* line 882, sass/avaluo-styles.sass */
section.slider .arrow i {
  color: red !important;
}

@media (max-width: 768px) {
  /* line 884, sass/avaluo-styles.sass */
  section.slider .arrow .fa-arrow-left {
    position: absolute;
    bottom: 0px;
    background: black;
    padding: 20px;
    color: white !important;
    left: 0;
    opacity: .85 !important;
  }
}

@media (max-width: 768px) {
  /* line 893, sass/avaluo-styles.sass */
  section.slider .arrow .fa-arrow-right {
    position: absolute;
    bottom: 0px;
    background: black;
    padding: 20px;
    color: white !important;
    right: 0;
    opacity: .85 !important;
  }
}

@media (max-width: 768px) {
  /* line 904, sass/avaluo-styles.sass */
  section.about {
    height: 130vh;
  }
}

@media (max-width: 556px) {
  /* line 904, sass/avaluo-styles.sass */
  section.about {
    height: 240vh;
  }
}

/* line 909, sass/avaluo-styles.sass */
section.about h2.title-quienes {
  font-family: 'roboto_condensedlight';
  color: #8D8D8D;
  padding: 10px 0;
  text-align: center;
}

/* line 914, sass/avaluo-styles.sass */
section.about h2.title-quienes span {
  color: red;
}

/* line 916, sass/avaluo-styles.sass */
section.about p {
  color: #898989;
  text-align: justify;
  font-size: 1em;
}

/* line 921, sass/avaluo-styles.sass */
section.about ul li {
  color: #898989;
  font-size: 1em;
}

/* line 924, sass/avaluo-styles.sass */
section.about p.small {
  padding: 20px;
  background: #0066ad;
  color: white;
  font-size: .7em;
}

/* line 929, sass/avaluo-styles.sass */
section.about h2.info-important {
  margin: 0;
}

/* line 931, sass/avaluo-styles.sass */
section.services {
  padding-top: 70px;
}

@media (max-width: 768px) {
  /* line 931, sass/avaluo-styles.sass */
  section.services {
    height: 220%;
  }
}

@media (max-width: 556px) {
  /* line 931, sass/avaluo-styles.sass */
  section.services {
    padding-top: 10px;
    height: 180vh;
  }
}

/* line 939, sass/avaluo-styles.sass */
section.services .avaluo1 .title-section {
  height: 30%;
}

@media (max-width: 768px) {
  /* line 939, sass/avaluo-styles.sass */
  section.services .avaluo1 .title-section {
    margin-top: 50px;
    height: auto;
  }
}

/* line 944, sass/avaluo-styles.sass */
section.services .avaluo1 .title-section h2 {
  font-family: 'roboto_condensedlight';
  text-transform: uppercase;
  color: red;
  text-align: center;
  line-height: 30px;
  position: relative;
}

/* line 951, sass/avaluo-styles.sass */
section.services .avaluo1 .title-section h2:after {
  content: '';
  position: absolute;
  width: 50px;
  height: 80px;
  background: url(../../img/arrow-blue.png);
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  left: 10%;
  top: 50%;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

@media (max-width: 768px) {
  /* line 951, sass/avaluo-styles.sass */
  section.services .avaluo1 .title-section h2:after {
    left: 20%;
  }
}

@media (max-width: 556px) {
  /* line 951, sass/avaluo-styles.sass */
  section.services .avaluo1 .title-section h2:after {
    left: 5%;
    width: 30px;
    height: 60px;
  }
}

/* line 969, sass/avaluo-styles.sass */
section.services .avaluo1 .title-section h2:before {
  content: '';
  position: absolute;
  width: 50px;
  height: 80px;
  background: url(../../img/arrow-blue.png);
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  right: 10%;
  top: 50%;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

@media (max-width: 768px) {
  /* line 969, sass/avaluo-styles.sass */
  section.services .avaluo1 .title-section h2:before {
    right: 20%;
  }
}

@media (max-width: 556px) {
  /* line 969, sass/avaluo-styles.sass */
  section.services .avaluo1 .title-section h2:before {
    right: 5%;
    width: 30px;
    height: 60px;
  }
}

/* line 987, sass/avaluo-styles.sass */
section.services .avaluo1 .title-section h2 .avaluo {
  font-size: 1.6em;
  color: #5A5A5A;
}

/* line 990, sass/avaluo-styles.sass */
section.services .avaluo1 .title-section h2 .tipo {
  position: relative;
  font-family: 'roboto_condensedbold';
  font-size: .87em;
  color: #0066ad;
}

/* line 995, sass/avaluo-styles.sass */
section.services .avaluo1 .title-section h3 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'roboto_condensedlight_italic';
  margin-bottom: 40px;
}

/* line 1000, sass/avaluo-styles.sass */
section.services .avaluo1 .title-section h3 span {
  color: #0066ad;
  font-family: 'roboto_condensedlight_italic';
}

/* line 1003, sass/avaluo-styles.sass */
section.services .avaluo1 .info {
  background: url(../../img/back-avaluo.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
  height: 70%;
}

@media (max-width: 768px) {
  /* line 1003, sass/avaluo-styles.sass */
  section.services .avaluo1 .info {
    height: auto;
    padding: 40px;
  }
}

@media (max-width: 556px) {
  /* line 1003, sass/avaluo-styles.sass */
  section.services .avaluo1 .info {
    padding: 0px;
  }
}

/* line 1015, sass/avaluo-styles.sass */
section.services .avaluo1 .info p {
  color: #363636;
}

/* line 1018, sass/avaluo-styles.sass */
section.services .avaluo1 .info ul {
  margin-bottom: 30px;
}

@media (max-width: 1366px) {
  /* line 1018, sass/avaluo-styles.sass */
  section.services .avaluo1 .info ul {
    display: none;
  }
}

/* line 1022, sass/avaluo-styles.sass */
section.services .avaluo1 .info ul li {
  font-family: 'roboto_condensedlight';
  color: #787878;
  text-align: justify;
}

@media (max-width: 1366px) {
  /* line 1022, sass/avaluo-styles.sass */
  section.services .avaluo1 .info ul li {
    font-size: .8em;
  }
}

/* line 1028, sass/avaluo-styles.sass */
section.services .avaluo1 .info .boton {
  background: #0066ad;
  padding: 10px 30px;
  color: white;
  transition: .6s ease-in-out;
  font-family: 'roboto_condensedbold';
  margin: 10px 20px;
  text-transform: uppercase;
}

@media (max-width: 556px) {
  /* line 1028, sass/avaluo-styles.sass */
  section.services .avaluo1 .info .boton {
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
  }
}

/* line 1042, sass/avaluo-styles.sass */
section.services .avaluo1 .info .boton:hover {
  text-decoration: none;
}

/* line 1045, sass/avaluo-styles.sass */
section.services .avaluo2 .title-section {
  height: 30%;
}

@media (max-width: 768px) {
  /* line 1045, sass/avaluo-styles.sass */
  section.services .avaluo2 .title-section {
    margin-top: 50px;
    height: auto;
  }
}

/* line 1050, sass/avaluo-styles.sass */
section.services .avaluo2 .title-section h2 {
  font-family: 'roboto_condensedlight';
  text-transform: uppercase;
  color: red;
  text-align: center;
  line-height: 30px;
  position: relative;
}

@media (max-width: 768px) {
  /* line 1050, sass/avaluo-styles.sass */
  section.services .avaluo2 .title-section h2 {
    margin-top: 80px;
    height: auto;
  }
}

@media (max-width: 556px) {
  /* line 1050, sass/avaluo-styles.sass */
  section.services .avaluo2 .title-section h2 {
    height: auto;
  }
}

/* line 1062, sass/avaluo-styles.sass */
section.services .avaluo2 .title-section h2:after {
  content: '';
  position: absolute;
  width: 50px;
  height: 80px;
  background: url(../../img/arrow-red.png);
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  left: 10%;
  top: 50%;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

@media (max-width: 768px) {
  /* line 1062, sass/avaluo-styles.sass */
  section.services .avaluo2 .title-section h2:after {
    left: 20%;
  }
}

@media (max-width: 556px) {
  /* line 1062, sass/avaluo-styles.sass */
  section.services .avaluo2 .title-section h2:after {
    left: 5%;
    width: 30px;
    height: 60px;
  }
}

/* line 1080, sass/avaluo-styles.sass */
section.services .avaluo2 .title-section h2:before {
  content: '';
  position: absolute;
  width: 50px;
  height: 80px;
  background: url(../../img/arrow-red.png);
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  right: 10%;
  top: 50%;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

@media (max-width: 768px) {
  /* line 1080, sass/avaluo-styles.sass */
  section.services .avaluo2 .title-section h2:before {
    right: 20%;
  }
}

@media (max-width: 556px) {
  /* line 1080, sass/avaluo-styles.sass */
  section.services .avaluo2 .title-section h2:before {
    right: 5%;
    width: 30px;
    height: 60px;
  }
}

@media (max-width: 556px) {
  /* line 1050, sass/avaluo-styles.sass */
  section.services .avaluo2 .title-section h2 {
    margin-top: 40px;
  }
}

/* line 1100, sass/avaluo-styles.sass */
section.services .avaluo2 .title-section h2 .avaluo {
  font-size: 1.6em;
  color: #5A5A5A;
}

/* line 1103, sass/avaluo-styles.sass */
section.services .avaluo2 .title-section h2 .tipo {
  position: relative;
  font-family: 'roboto_condensedbold';
  font-size: .87em;
  color: red;
}

/* line 1108, sass/avaluo-styles.sass */
section.services .avaluo2 .title-section h3 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'roboto_condensedlight_italic';
  margin-bottom: 40px;
}

/* line 1113, sass/avaluo-styles.sass */
section.services .avaluo2 .title-section h3 span {
  color: red;
  font-family: 'roboto_condensedlight_italic';
}

/* line 1116, sass/avaluo-styles.sass */
section.services .avaluo2 .info {
  background: url(../../img/back-avaluo.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70%;
  padding: 20px;
}

@media (max-width: 768px) {
  /* line 1116, sass/avaluo-styles.sass */
  section.services .avaluo2 .info {
    height: auto;
    padding: 40px;
  }
}

@media (max-width: 556px) {
  /* line 1116, sass/avaluo-styles.sass */
  section.services .avaluo2 .info {
    padding: 0px;
  }
}

/* line 1128, sass/avaluo-styles.sass */
section.services .avaluo2 .info p {
  color: #363636;
}

/* line 1131, sass/avaluo-styles.sass */
section.services .avaluo2 .info ul {
  margin-bottom: 30px;
}

@media (max-width: 1366px) {
  /* line 1131, sass/avaluo-styles.sass */
  section.services .avaluo2 .info ul {
    display: none;
  }
}

/* line 1135, sass/avaluo-styles.sass */
section.services .avaluo2 .info ul li {
  font-family: 'roboto_condensedlight';
  color: #787878;
}

@media (max-width: 1366px) {
  /* line 1135, sass/avaluo-styles.sass */
  section.services .avaluo2 .info ul li {
    font-size: .8em;
  }
}

/* line 1140, sass/avaluo-styles.sass */
section.services .avaluo2 .info .boton {
  background: red;
  padding: 10px 30px;
  color: white;
  transition: .6s ease-in-out;
  font-family: 'roboto_condensedbold';
  margin: 10px 20px;
  text-transform: uppercase;
}

@media (max-width: 556px) {
  /* line 1140, sass/avaluo-styles.sass */
  section.services .avaluo2 .info .boton {
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
  }
}

/* line 1154, sass/avaluo-styles.sass */
section.services .avaluo2 .info .boton:hover {
  text-decoration: none;
}

/* line 1156, sass/avaluo-styles.sass */
section.packages {
  background: url(../../img/background.jpg);
}

@media (max-width: 768px) {
  /* line 1156, sass/avaluo-styles.sass */
  section.packages {
    height: 100vh;
  }
}

@media (max-width: 556px) {
  /* line 1156, sass/avaluo-styles.sass */
  section.packages {
    height: 180vh;
  }
}

/* line 1162, sass/avaluo-styles.sass */
section.packages .titulo {
  padding: 100px;
}

@media (max-width: 768px) {
  /* line 1162, sass/avaluo-styles.sass */
  section.packages .titulo {
    padding: 30px;
  }
}

/* line 1166, sass/avaluo-styles.sass */
section.packages .package-column {
  width: 50%;
  float: left;
  padding: 0 15px;
}

@media (max-width: 556px) {
  /* line 1166, sass/avaluo-styles.sass */
  section.packages .package-column {
    width: 100%;
  }
}

/* line 1172, sass/avaluo-styles.sass */
section.packages h2 {
  font-family: 'roboto_condensedbold_italic';
  color: #0066ad;
  text-transform: uppercase;
  font-size: 2.7em;
  position: relative;
}

@media (max-width: 1366px) {
  /* line 1172, sass/avaluo-styles.sass */
  section.packages h2 {
    font-size: 2.2em;
  }
}

@media (max-width: 768px) {
  /* line 1172, sass/avaluo-styles.sass */
  section.packages h2 {
    text-align: center;
  }
}

/* line 1182, sass/avaluo-styles.sass */
section.packages h2 span {
  position: relative;
  color: #717171;
  font-size: .7em;
  display: block;
}

/* line 1187, sass/avaluo-styles.sass */
section.packages h2:after {
  content: '';
  width: 200px;
  height: 4px;
  background: red;
  position: absolute;
  top: -10px;
  left: 0;
}

@media (max-width: 768px) {
  /* line 1187, sass/avaluo-styles.sass */
  section.packages h2:after {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

/* line 1198, sass/avaluo-styles.sass */
section.packages h2:before {
  content: '';
  width: 150px;
  height: 4px;
  background: red;
  position: absolute;
  bottom: -10px;
  left: 0;
}

@media (max-width: 768px) {
  /* line 1198, sass/avaluo-styles.sass */
  section.packages h2:before {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

/* line 1209, sass/avaluo-styles.sass */
section.packages .card-header {
  border-bottom: 4px solid #757575;
}

@media (max-width: 1366px) {
  /* line 1209, sass/avaluo-styles.sass */
  section.packages .card-header {
    padding: 3px;
  }
}

/* line 1213, sass/avaluo-styles.sass */
section.packages .card-header .card-title {
  font-family: 'roboto_condensedbold';
  text-transform: uppercase;
  font-size: 2em;
  color: #626262;
}

@media (max-width: 1366px) {
  /* line 1213, sass/avaluo-styles.sass */
  section.packages .card-header .card-title {
    font-size: 1.3em;
    padding: 5px;
    margin-bottom: 0;
  }
}

/* line 1222, sass/avaluo-styles.sass */
section.packages .card-header .card-subtitle {
  color: #747474;
}

@media (max-width: 1366px) {
  /* line 1222, sass/avaluo-styles.sass */
  section.packages .card-header .card-subtitle {
    font-size: 1em;
  }
}

/* line 1226, sass/avaluo-styles.sass */
section.packages .card-body {
  padding-bottom: 0;
}

/* line 1228, sass/avaluo-styles.sass */
section.packages .card-body .boton {
  border-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #3675C3;
  border: none;
  cursor: pointer;
  padding: 10px 30px;
  transition: .3s ease-in-out;
  text-transform: uppercase;
}

/* line 1238, sass/avaluo-styles.sass */
section.packages .card-body .boton:hover {
  background: #434343;
  padding: 10px 50px;
}

/* line 1242, sass/avaluo-styles.sass */
section.packages .card-body ul {
  padding: 0;
}

/* line 1244, sass/avaluo-styles.sass */
section.packages .card-body ul li {
  list-style: none;
  border-bottom: 2px solid #5599c8;
  line-height: 60px;
}

@media (max-width: 1366px) {
  /* line 1244, sass/avaluo-styles.sass */
  section.packages .card-body ul li {
    line-height: 30px;
  }
}

/* line 1250, sass/avaluo-styles.sass */
section.packages .card-body .card-text {
  text-transform: uppercase;
  font-size: 1.2em;
}

@media (max-width: 1366px) {
  /* line 1250, sass/avaluo-styles.sass */
  section.packages .card-body .card-text {
    font-size: .8em;
  }
}

@media (max-width: 768px) {
  /* line 1250, sass/avaluo-styles.sass */
  section.packages .card-body .card-text {
    font-size: .8em;
  }
}

/* line 1257, sass/avaluo-styles.sass */
section.packages .card-body .card-text .column {
  width: 50%;
  float: left;
  padding: 0 15px;
}

/* line 1262, sass/avaluo-styles.sass */
section.packages .card-body .card-text .price {
  font-family: 'roboto_condensedbold';
  color: #616161;
}

@media (max-width: 556px) {
  /* line 1265, sass/avaluo-styles.sass */
  section.contacto {
    height: 200vh;
  }
}

/* line 1268, sass/avaluo-styles.sass */
section.contacto .form-container {
  padding: 40px;
}

/* line 1270, sass/avaluo-styles.sass */
section.contacto .form-container h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'roboto_condensedbold';
  color: #727272;
}

@media (max-width: 1366px) {
  /* line 1270, sass/avaluo-styles.sass */
  section.contacto .form-container h2 {
    font-size: 1em;
  }
}

@media (max-width: 768px) {
  /* line 1270, sass/avaluo-styles.sass */
  section.contacto .form-container h2 {
    font-size: 1.6em;
  }
}

/* line 1279, sass/avaluo-styles.sass */
section.contacto .form-container h2 span {
  color: #4A7DDB;
  font-size: 1.3em;
}

/* line 1282, sass/avaluo-styles.sass */
section.contacto .form-container form {
  width: 100%;
}

/* line 1284, sass/avaluo-styles.sass */
section.contacto .form-container form .campo {
  width: 100%;
  border-radius: 15px;
  text-align: center;
  transition: .4s ease-in-out;
}

@media (max-width: 768px) {
  /* line 1284, sass/avaluo-styles.sass */
  section.contacto .form-container form .campo {
    width: 70%;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

@media (max-width: 556px) {
  /* line 1284, sass/avaluo-styles.sass */
  section.contacto .form-container form .campo {
    width: 100%;
    height: auto;
  }
}

/* line 1297, sass/avaluo-styles.sass */
section.contacto .form-container form .campo:focus {
  outline: 0;
  box-shadow: none;
  border: 1px solid red;
}

/* line 1301, sass/avaluo-styles.sass */
section.contacto .form-container form .btn {
  border: none;
}

/* line 1303, sass/avaluo-styles.sass */
section.contacto .form-container form .btn:hover {
  background: #4A7DDB;
}

/* line 1305, sass/avaluo-styles.sass */
section.contacto p {
  font-size: 1em;
}

@media (max-width: 1366px) {
  /* line 1305, sass/avaluo-styles.sass */
  section.contacto p {
    font-size: .8em;
  }
}

/* line 1309, sass/avaluo-styles.sass */
section.contacto i {
  font-size: 2em;
  display: inline-block;
  float: left;
  padding: 10px;
  color: #595959;
}

/* line 1315, sass/avaluo-styles.sass */
section.contacto .photo {
  height: 100vh;
  background-image: url(../../img/contacto2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 1321, sass/avaluo-styles.sass */
section.contacto .photo h2 {
  text-transform: uppercase;
  font-family: 'roboto_condensedbold';
  padding: 10px 20px;
  border: 3px solid red;
  display: inline-block;
}

/* line 1327, sass/avaluo-styles.sass */
section.contacto .photo h2 a {
  color: white;
  transition: .2s;
}

/* line 1330, sass/avaluo-styles.sass */
section.contacto .photo h2 a:hover {
  text-decoration: none;
  padding: 10px 40px;
}

/* line 1334, sass/avaluo-styles.sass */
section.footer {
  height: 100%;
  position: relative;
}

/* line 1337, sass/avaluo-styles.sass */
section.footer h2.aliados {
  font-family: 'roboto_condensedbold_italic';
  text-transform: uppercase;
  color: #0066ad;
  font-size: 1.5em;
}

@media (max-width: 556px) {
  /* line 1337, sass/avaluo-styles.sass */
  section.footer h2.aliados {
    padding-top: 50px;
  }
}

/* line 1344, sass/avaluo-styles.sass */
section.footer h2.aliados span {
  color: #707070;
}

/* line 1346, sass/avaluo-styles.sass */
section.footer .logos {
  width: 90%;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media (max-width: 556px) {
  /* line 1346, sass/avaluo-styles.sass */
  section.footer .logos {
    margin: 30px auto;
  }
}

/* line 1353, sass/avaluo-styles.sass */
section.footer .footer-content {
  background: #353535;
  padding: 50px;
  position: relative;
  height: 30%;
  width: 100%;
}

/* line 1359, sass/avaluo-styles.sass */
section.footer .footer-content:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  display: block;
  top: 0px;
  left: 50%;
  z-index: 10;
  background: url(../../img/bar-footer.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top left;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/* line 1373, sass/avaluo-styles.sass */
section.footer strong {
  color: white;
}

/* line 1375, sass/avaluo-styles.sass */
section.footer p {
  color: #B2B2B2;
}

/* line 1377, sass/avaluo-styles.sass */
section.footer ul {
  padding: 0;
  padding-left: 10px;
}

/* line 1380, sass/avaluo-styles.sass */
section.footer ul li {
  list-style: none;
}

/* line 1382, sass/avaluo-styles.sass */
section.footer ul li a {
  color: #B2B2B2;
}

/* line 1384, sass/avaluo-styles.sass */
section.footer ul li a:hover {
  text-decoration: none;
}

/* line 1387, sass/avaluo-styles.sass */
section.checkout {
  background: url(../../img/background.jpg);
  padding: 0;
  height: calc(150vh - 100px);
}

@media (max-width: 556px) {
  /* line 1387, sass/avaluo-styles.sass */
  section.checkout {
    height: 300vh;
  }
}

/* line 1393, sass/avaluo-styles.sass */
section.checkout h1.informacion1 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 100px;
}

/* line 1397, sass/avaluo-styles.sass */
section.checkout h2.informacion {
  color: #0066ad;
  text-shadow: none;
  margin: 0;
  padding-top: 50px;
}

/* line 1403, sass/avaluo-styles.sass */
section.checkout h2.informacion span {
  color: #9D9D9D;
  font-size: .86em;
}

/* line 1406, sass/avaluo-styles.sass */
section.checkout h2 {
  font-family: 'roboto_condensedbold';
  color: white;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  margin: 20px 0;
}

/* line 1413, sass/avaluo-styles.sass */
section.checkout .table-checkout {
  font-family: 'roboto_condensedlight';
}

/* line 1415, sass/avaluo-styles.sass */
section.checkout .btn-dark {
  width: 100%;
}

/* line 1417, sass/avaluo-styles.sass */
section.checkout .comprar {
  position: relative;
  background-image: url(../../img/contacto2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 1424, sass/avaluo-styles.sass */
section.checkout .order {
  position: relative;
  width: 100%;
  height: 100%;
}

@media (max-width: 556px) {
  /* line 1424, sass/avaluo-styles.sass */
  section.checkout .order {
    height: auto;
  }
}

/* line 1431, sass/avaluo-styles.sass */
section.checkout form .campo {
  width: 100%;
  border-radius: 15px;
  text-align: center;
  transition: .4s ease-in-out;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  /* line 1431, sass/avaluo-styles.sass */
  section.checkout form .campo {
    width: 70%;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

@media (max-width: 556px) {
  /* line 1431, sass/avaluo-styles.sass */
  section.checkout form .campo {
    width: 100%;
    height: auto;
  }
}

/* line 1445, sass/avaluo-styles.sass */
section.checkout form .campo:focus {
  outline: 0;
  box-shadow: none;
  border: 1px solid red;
}

/* line 1449, sass/avaluo-styles.sass */
section.checkout form .select {
  margin-bottom: 20px;
  border-radius: 15px;
  text-align: center;
  color: gray;
  transition: .4s ease-in-out;
}

@media (max-width: 768px) {
  /* line 1449, sass/avaluo-styles.sass */
  section.checkout form .select {
    width: 70%;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

@media (max-width: 556px) {
  /* line 1449, sass/avaluo-styles.sass */
  section.checkout form .select {
    width: 100%;
    height: auto;
  }
}

/* line 1463, sass/avaluo-styles.sass */
section.checkout form .select:focus {
  outline: 0 !important;
  box-shadow: none;
  border: 1px solid red;
}

/* line 1467, sass/avaluo-styles.sass */
section.checkout form .select option {
  text-align: center;
}

@media (max-width: 768px) {
  /* line 1467, sass/avaluo-styles.sass */
  section.checkout form .select option {
    width: 100%;
  }
}
