@charset "UTF-8";
/* Fonts Roboto*/
@font-face {
  font-family: 'roboto_condensedbold';
  src: url("../fonts/robotocondensed-bold-webfont.woff2") format("woff2"), url("robotocondensed-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto_condensedbold_italic';
  src: url("../fonts/robotocondensed-bolditalic-webfont.woff2") format("woff2"), url("robotocondensed-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto_condenseditalic';
  src: url("../fonts/robotocondensed-italic-webfont.woff2") format("woff2"), url("robotocondensed-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto_condensedlight';
  src: url("../fonts/robotocondensed-light-webfont.woff2") format("woff2"), url("robotocondensed-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto_condensedlight_italic';
  src: url("../fonts/robotocondensed-lightitalic-webfont.woff2") format("woff2"), url("robotocondensed-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto_condensedregular';
  src: url("../fonts/robotocondensed-regular-webfont.woff2") format("woff2"), url("robotocondensed-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* line 39, sass/avaluo-styles.sass */
.imagen-full {
  width: 100%;
  height: auto;
  display: block;
}

/* line 44, sass/avaluo-styles.sass */
.registro {
  background: rgba(227, 37, 34, 0.895);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000000000000;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 10px;
}

/* line 55, sass/avaluo-styles.sass */
.registro .campo {
  width: 100%;
  border-radius: 15px;
  text-align: center;
  transition: .4s ease-in-out;
}

@media (max-width: 768px) {
  /* line 55, sass/avaluo-styles.sass */
  .registro .campo {
    width: 70%;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

@media (max-width: 556px) {
  /* line 55, sass/avaluo-styles.sass */
  .registro .campo {
    width: 100%;
    height: auto;
  }
}

/* line 68, sass/avaluo-styles.sass */
.registro .campo:focus {
  outline: 0;
  box-shadow: none;
  border: 1px solid red;
}

/* line 72, sass/avaluo-styles.sass */
.registro h2 {
  font-family: 'roboto_condensedlight';
  color: white;
  text-transform: uppercase;
  font-size: 1.5em;
  text-align: center;
}

/* line 78, sass/avaluo-styles.sass */
.registro .ingresar {
  width: 100%;
  padding: 10px;
  text-align: center;
  display: block;
  text-decoration: none;
  background: #3E3E3E;
  color: white;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}

/* line 89, sass/avaluo-styles.sass */
.registro .cerrar {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  font-size: 2em;
}

/* line 95, sass/avaluo-styles.sass */
.registro .facebook-login {
  width: 100%;
  padding: 10px;
  text-align: center;
  display: block;
  text-decoration: none;
  background: #1064B2;
  color: white;
  margin-top: 10px;
  transition: .5s;
}

/* line 105, sass/avaluo-styles.sass */
.registro .facebook-login:hover {
  background: #143F64;
}

/* line 107, sass/avaluo-styles.sass */
.registro .registro-user {
  width: 100%;
  padding: 10px;
  text-align: center;
  display: block;
  text-decoration: none;
  background: #a81212;
  color: white;
  margin-top: 10px;
  transition: .5s;
}

/* line 117, sass/avaluo-styles.sass */
.registro .registro-user:hover {
  background: #1F1F1F;
}

/* line 121, sass/avaluo-styles.sass */
.logo-responsive {
  width: 160px;
  height: auto;
  background: white;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 10000;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 10px 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05);
  display: none;
}

@media (max-width: 996px) {
  /* line 121, sass/avaluo-styles.sass */
  .logo-responsive {
    display: block;
  }
}

/* line 137, sass/avaluo-styles.sass */
.logo-responsive img {
  display: block;
  width: 100%;
}

/* line 140, sass/avaluo-styles.sass */
.full-height {
  height: 100%;
}

/* line 142, sass/avaluo-styles.sass */
.container-icon {
  position: fixed;
  width: 34px;
  height: 24px;
  z-index: 100000000;
  top: 0;
  left: 0;
  width: 50px;
  height: 44px;
  cursor: pointer;
  overflow: hidden;
  background: #606060;
  display: none;
}

@media (max-width: 996px) {
  /* line 142, sass/avaluo-styles.sass */
  .container-icon {
    display: block;
  }
}

/* line 157, sass/avaluo-styles.sass */
.container-icon .icon-toggle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 36px;
  height: 28px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: .4s ease-in-out;
}

/* line 166, sass/avaluo-styles.sass */
.container-icon .icon-toggle:hover span.bar1 {
  left: 120%;
}

/* line 168, sass/avaluo-styles.sass */
.container-icon .icon-toggle:hover span.bar2 {
  left: 120%;
}

/* line 170, sass/avaluo-styles.sass */
.container-icon .icon-toggle:hover span.bar3 {
  left: 120%;
}

/* line 172, sass/avaluo-styles.sass */
.container-icon .icon-toggle span {
  position: absolute;
  width: 100%;
  height: 5px;
  background: white;
  transition: .4s ease-in-out;
}

/* line 178, sass/avaluo-styles.sass */
.container-icon .icon-toggle span.bar1 {
  left: 0;
  top: 0;
  transition: .4s ease-in-out;
}

/* line 182, sass/avaluo-styles.sass */
.container-icon .icon-toggle span.bar2 {
  left: 0;
  top: 10px;
  transition: .6s ease-in-out;
}

/* line 186, sass/avaluo-styles.sass */
.container-icon .icon-toggle span.bar3 {
  left: 0;
  top: 20px;
  transition: .8s ease-in-out;
}

/* line 190, sass/avaluo-styles.sass */
.container-icon .icon-toggle span.bar4 {
  left: 0;
  transition: .6s ease-in-out;
}

/* line 193, sass/avaluo-styles.sass */
.container-icon .icon-toggle span.bar5 {
  right: 0;
  transition: .8s ease-in-out;
}

/* line 198, sass/avaluo-styles.sass */
.menu-responsive-back {
  background: #424242;
  width: 0%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: .4s ease-in-out;
  z-index: 100000;
  overflow: hidden;
  /* Logo*/
}

/* line 208, sass/avaluo-styles.sass */
.menu-responsive-back.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100000;
  height: 100vh;
  transition: .4s ease-in-out;
  background: #424242;
}

/* line 219, sass/avaluo-styles.sass */
.menu-responsive-back .logo-wrapper {
  position: relative;
  display: block;
  text-align: center;
  margin-top: 60px;
  height: 20%;
}

/* line 225, sass/avaluo-styles.sass */
.menu-responsive-back .logo-wrapper .logo {
  display: block;
  width: 200px;
  margin: 0 auto;
}

/* line 229, sass/avaluo-styles.sass */
.menu-responsive-back .social-media {
  margin-top: 40px;
  text-align: center;
}

/* line 232, sass/avaluo-styles.sass */
.menu-responsive-back .social-media ul {
  margin: 0;
  padding: 0;
}

/* line 235, sass/avaluo-styles.sass */
.menu-responsive-back .social-media ul li {
  list-style: none;
  display: inline-block;
}

/* line 238, sass/avaluo-styles.sass */
.menu-responsive-back .social-media ul li a {
  color: #C9C9C9;
  margin: 0 5px;
  transition: .4s ease-in-out;
}

/* line 242, sass/avaluo-styles.sass */
.menu-responsive-back .social-media ul li a:hover {
  color: #F4F4F4;
}

/* line 244, sass/avaluo-styles.sass */
.menu-responsive-back .social-media ul li a i {
  font-size: 1.5em;
}

/* line 246, sass/avaluo-styles.sass */
.menu-responsive-back nav {
  width: 70%;
  position: relative;
  margin: 0 auto;
}

/* line 250, sass/avaluo-styles.sass */
.menu-responsive-back nav .menu-container {
  padding: 50px;
  height: 50%;
}

/* line 253, sass/avaluo-styles.sass */
.menu-responsive-back nav .menu-container .item-menu {
  list-style: none;
  margin-bottom: 10px;
  text-align: center;
}

/* line 257, sass/avaluo-styles.sass */
.menu-responsive-back nav .menu-container .item-menu .link-ext {
  position: relative;
  color: white;
  text-decoration: none;
  transition: .4s ease-in-out;
  font-size: 1em;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  /* line 257, sass/avaluo-styles.sass */
  .menu-responsive-back nav .menu-container .item-menu .link-ext {
    font-size: 2em;
  }
}

@media (max-width: 768px) {
  /* line 257, sass/avaluo-styles.sass */
  .menu-responsive-back nav .menu-container .item-menu .link-ext {
    font-size: 1.3em;
  }
}

/* line 268, sass/avaluo-styles.sass */
.menu-responsive-back nav .menu-container .item-menu .link-ext:after {
  content: '';
  background-image: url(../../img/border-right.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  position: absolute;
  right: -20px;
  top: -13px;
  opacity: 0;
  transition: .4s ease-in-out;
}

/* line 282, sass/avaluo-styles.sass */
.menu-responsive-back nav .menu-container .item-menu .link-ext:hover {
  font-family: 'roboto_condensedbold';
}

/* line 284, sass/avaluo-styles.sass */
.menu-responsive-back nav .menu-container .item-menu .link-ext:hover:after {
  opacity: 1;
  right: -10px;
  top: -3px;
}

/* line 288, sass/avaluo-styles.sass */
.menu-responsive-back nav .menu-container .item-menu .link-ext:hover:before {
  opacity: 1;
  left: -10px;
  bottom: -3px;
}

/* line 292, sass/avaluo-styles.sass */
.menu-responsive-back nav .menu-container .item-menu .link-ext:before {
  content: '';
  background-image: url(../../img/border-left.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  position: absolute;
  left: -20px;
  bottom: -13px;
  opacity: 0;
  transition: .4s ease-in-out;
}

/* line 306, sass/avaluo-styles.sass */
.menu-responsive-back nav .menu-container .item-menu .link-ext.active {
  font-family: 'roboto_condensedbold';
}

/* line 308, sass/avaluo-styles.sass */
.menu-responsive-back nav .menu-container .item-menu .link-ext.active:after {
  content: '';
  background-image: url(../../img/border-right.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  position: absolute;
  right: -10px;
  top: -3px;
  opacity: 1;
}

/* line 321, sass/avaluo-styles.sass */
.menu-responsive-back nav .menu-container .item-menu .link-ext.active:before {
  content: '';
  background-image: url(../../img/border-left.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  position: absolute;
  left: -10px;
  bottom: -3px;
  opacity: 1;
}

/* line 334, sass/avaluo-styles.sass */
.menu-responsive-back nav .menu-container .item-menu .link {
  position: relative;
  color: white;
  text-decoration: none;
  transition: .4s ease-in-out;
  font-size: 1em;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  /* line 334, sass/avaluo-styles.sass */
  .menu-responsive-back nav .menu-container .item-menu .link {
    font-size: 2em;
  }
}

@media (max-width: 768px) {
  /* line 334, sass/avaluo-styles.sass */
  .menu-responsive-back nav .menu-container .item-menu .link {
    font-size: 1.3em;
  }
}

/* line 345, sass/avaluo-styles.sass */
.menu-responsive-back nav .menu-container .item-menu .link:after {
  content: '';
  background-image: url(../../img/border-right.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  position: absolute;
  right: -20px;
  top: -13px;
  opacity: 0;
  transition: .4s ease-in-out;
}

/* line 359, sass/avaluo-styles.sass */
.menu-responsive-back nav .menu-container .item-menu .link:hover {
  font-family: 'roboto_condensedbold';
}

/* line 361, sass/avaluo-styles.sass */
.menu-responsive-back nav .menu-container .item-menu .link:hover:after {
  opacity: 1;
  right: -10px;
  top: -3px;
}

/* line 365, sass/avaluo-styles.sass */
.menu-responsive-back nav .menu-container .item-menu .link:hover:before {
  opacity: 1;
  left: -10px;
  bottom: -3px;
}

/* line 369, sass/avaluo-styles.sass */
.menu-responsive-back nav .menu-container .item-menu .link:before {
  content: '';
  background-image: url(../../img/border-left.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  position: absolute;
  left: -20px;
  bottom: -13px;
  opacity: 0;
  transition: .4s ease-in-out;
}

/* line 383, sass/avaluo-styles.sass */
.menu-responsive-back nav .menu-container .item-menu .link.active {
  font-family: 'roboto_condensedbold';
}

/* line 385, sass/avaluo-styles.sass */
.menu-responsive-back nav .menu-container .item-menu .link.active:after {
  content: '';
  background-image: url(../../img/border-right.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  position: absolute;
  right: -10px;
  top: -3px;
  opacity: 1;
}

/* line 398, sass/avaluo-styles.sass */
.menu-responsive-back nav .menu-container .item-menu .link.active:before {
  content: '';
  background-image: url(../../img/border-left.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  position: absolute;
  left: -10px;
  bottom: -3px;
  opacity: 1;
}

/* line 413, sass/avaluo-styles.sass */
body {
  font-family: 'roboto_condensedlight';
}

/* Márgenes*/
/* line 418, sass/avaluo-styles.sass */
.home {
  position: relative;
}

/* line 420, sass/avaluo-styles.sass */
.home span.top {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  z-index: 10;
  background: white;
}

@media (max-width: 996px) {
  /* line 420, sass/avaluo-styles.sass */
  .home span.top {
    height: 20px;
  }
}

/* line 430, sass/avaluo-styles.sass */
.home span.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  z-index: 10;
  background: white;
}

@media (max-width: 996px) {
  /* line 430, sass/avaluo-styles.sass */
  .home span.bottom {
    height: 20px;
  }
}

/* line 440, sass/avaluo-styles.sass */
.home span.left {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 100%;
  z-index: 10;
  background: white;
}

@media (max-width: 996px) {
  /* line 440, sass/avaluo-styles.sass */
  .home span.left {
    width: 20px;
  }
}

/* line 451, sass/avaluo-styles.sass */
.home span.right {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 100%;
  z-index: 10;
  background: white;
}

@media (max-width: 996px) {
  /* line 451, sass/avaluo-styles.sass */
  .home span.right {
    width: 20px;
  }
}

/*Menu*/
/* line 464, sass/avaluo-styles.sass */
.menu {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 350px;
  background: white;
  padding-top: 50px;
  padding-bottom: 50px;
  /* Logo*/
}

@media (max-width: 996px) {
  /* line 464, sass/avaluo-styles.sass */
  .menu {
    display: none;
  }
}

/* line 478, sass/avaluo-styles.sass */
.menu .logo-wrapper {
  position: relative;
  display: block;
  text-align: center;
  margin-top: 30px;
}

/* line 483, sass/avaluo-styles.sass */
.menu .logo-wrapper .logo {
  display: block;
  width: 200px;
  margin: 0 auto;
}

/* line 487, sass/avaluo-styles.sass */
.menu .social-media {
  margin-bottom: 40px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/* line 493, sass/avaluo-styles.sass */
.menu .social-media ul {
  margin: 0;
  padding: 0;
}

/* line 496, sass/avaluo-styles.sass */
.menu .social-media ul li {
  list-style: none;
  display: inline-block;
}

/* line 499, sass/avaluo-styles.sass */
.menu .social-media ul li a {
  color: gray;
  margin: 0 5px;
  transition: .4s ease-in-out;
}

/* line 503, sass/avaluo-styles.sass */
.menu .social-media ul li a:hover {
  color: #283B65;
}

/* line 505, sass/avaluo-styles.sass */
.menu .social-media ul li a i {
  font-size: 1.5em;
}

/* line 507, sass/avaluo-styles.sass */
.menu .menu-container {
  padding: 50px;
  padding-bottom: 40px;
  padding-top: 40px;
  padding-left: 80px;
  margin-top: 30px;
}

/* line 513, sass/avaluo-styles.sass */
.menu .menu-container .item-menu {
  list-style: none;
  margin-bottom: 10px;
}

/* line 516, sass/avaluo-styles.sass */
.menu .menu-container .item-menu .link-ext {
  position: relative;
  color: gray;
  text-decoration: none;
  transition: .4s ease-in-out;
  font-size: 1em;
  text-transform: uppercase;
}

/* line 523, sass/avaluo-styles.sass */
.menu .menu-container .item-menu .link-ext:after {
  content: '';
  background-image: url(../../img/border-right.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  position: absolute;
  right: -20px;
  top: -13px;
  opacity: 0;
  transition: .4s ease-in-out;
}

/* line 537, sass/avaluo-styles.sass */
.menu .menu-container .item-menu .link-ext:hover {
  font-family: 'roboto_condensedbold';
}

/* line 539, sass/avaluo-styles.sass */
.menu .menu-container .item-menu .link-ext:hover:after {
  opacity: 1;
  right: -10px;
  top: -3px;
}

/* line 543, sass/avaluo-styles.sass */
.menu .menu-container .item-menu .link-ext:hover:before {
  opacity: 1;
  left: -10px;
  bottom: -3px;
}

/* line 547, sass/avaluo-styles.sass */
.menu .menu-container .item-menu .link-ext:before {
  content: '';
  background-image: url(../../img/border-left.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  position: absolute;
  left: -20px;
  bottom: -13px;
  opacity: 0;
  transition: .4s ease-in-out;
}

/* line 561, sass/avaluo-styles.sass */
.menu .menu-container .item-menu .link-ext.active {
  font-family: 'roboto_condensedbold';
}

/* line 563, sass/avaluo-styles.sass */
.menu .menu-container .item-menu .link-ext.active:after {
  content: '';
  background-image: url(../../img/border-right.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  position: absolute;
  right: -10px;
  top: -3px;
  opacity: 1;
}

/* line 576, sass/avaluo-styles.sass */
.menu .menu-container .item-menu .link-ext.active:before {
  content: '';
  background-image: url(../../img/border-left.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  position: absolute;
  left: -10px;
  bottom: -3px;
  opacity: 1;
}

/* line 589, sass/avaluo-styles.sass */
.menu .menu-container .item-menu .link {
  position: relative;
  color: gray;
  text-decoration: none;
  transition: .4s ease-in-out;
  font-size: 1em;
  text-transform: uppercase;
}

/* line 596, sass/avaluo-styles.sass */
.menu .menu-container .item-menu .link:after {
  content: '';
  background-image: url(../../img/border-right.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  position: absolute;
  right: -20px;
  top: -13px;
  opacity: 0;
  transition: .4s ease-in-out;
}

/* line 610, sass/avaluo-styles.sass */
.menu .menu-container .item-menu .link:hover {
  font-family: 'roboto_condensedbold';
}

/* line 612, sass/avaluo-styles.sass */
.menu .menu-container .item-menu .link:hover:after {
  opacity: 1;
  right: -10px;
  top: -3px;
}

/* line 616, sass/avaluo-styles.sass */
.menu .menu-container .item-menu .link:hover:before {
  opacity: 1;
  left: -10px;
  bottom: -3px;
}

/* line 620, sass/avaluo-styles.sass */
.menu .menu-container .item-menu .link:before {
  content: '';
  background-image: url(../../img/border-left.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  position: absolute;
  left: -20px;
  bottom: -13px;
  opacity: 0;
  transition: .4s ease-in-out;
}

/* line 634, sass/avaluo-styles.sass */
.menu .menu-container .item-menu .link.active {
  font-family: 'roboto_condensedbold';
}

/* line 636, sass/avaluo-styles.sass */
.menu .menu-container .item-menu .link.active:after {
  content: '';
  background-image: url(../../img/border-right.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  position: absolute;
  right: -10px;
  top: -3px;
  opacity: 1;
}

/* line 649, sass/avaluo-styles.sass */
.menu .menu-container .item-menu .link.active:before {
  content: '';
  background-image: url(../../img/border-left.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  position: absolute;
  left: -10px;
  bottom: -3px;
  opacity: 1;
}

/* line 665, sass/avaluo-styles.sass */
.wrapper {
  position: relative;
  left: 350px;
  top: 50px;
  width: calc(100% - 400px);
  overflow: hidden;
  transition: .3s ease-in-out;
}

@media (max-width: 996px) {
  /* line 665, sass/avaluo-styles.sass */
  .wrapper {
    top: 20px;
    left: 20px;
    width: calc(100% - 40px);
  }
}

/* line 677, sass/avaluo-styles.sass */
section.section {
  width: 100%;
  height: calc(100vh - 100px);
  position: relative;
  margin-bottom: 50px;
  overflow: hidden;
  padding: 10px;
}

@media (max-width: 996px) {
  /* line 677, sass/avaluo-styles.sass */
  section.section {
    height: calc(100vh - 40px);
  }
}

/* line 687, sass/avaluo-styles.sass */
section.slider {
  background-image: url();
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}

/* line 693, sass/avaluo-styles.sass */
section.slider .slide {
  height: 100%;
  width: 100%;
  position: relative;
}

/* line 697, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

/* line 701, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner .carousel-item {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

/* line 705, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner .carousel-item h3 {
  color: #858585;
  font-size: 1.4em;
  text-align: center;
  margin: 0;
}

@media (max-width: 768px) {
  /* line 705, sass/avaluo-styles.sass */
  section.slider .slide .carousel-inner .carousel-item h3 {
    font-size: 2.1em;
  }
}

@media (max-width: 556px) {
  /* line 705, sass/avaluo-styles.sass */
  section.slider .slide .carousel-inner .carousel-item h3 {
    margin-top: 60px;
    font-size: .8em;
  }
}

/* line 715, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner .carousel-item h2 {
  color: #bcbcbc;
  font-family: 'roboto_condensedbold_italic';
  font-size: 3em;
  text-align: center;
  margin: 0;
}

@media (max-width: 768px) {
  /* line 715, sass/avaluo-styles.sass */
  section.slider .slide .carousel-inner .carousel-item h2 {
    font-size: 4em;
  }
}

@media (max-width: 556px) {
  /* line 715, sass/avaluo-styles.sass */
  section.slider .slide .carousel-inner .carousel-item h2 {
    font-size: 1.3em;
  }
}

/* line 725, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner .carousel-item h2 span {
  display: block;
  font-size: .45em !important;
  font-family: 'roboto_condensedregular';
}

/* line 729, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner .carousel-item h1 {
  text-align: center;
  margin: 30px 0;
  font-family: 'roboto_condensedbold_italic';
  font-size: 3em;
  color: white;
}

@media (max-width: 768px) {
  /* line 729, sass/avaluo-styles.sass */
  section.slider .slide .carousel-inner .carousel-item h1 {
    font-size: 2.4em;
  }
}

@media (max-width: 556px) {
  /* line 729, sass/avaluo-styles.sass */
  section.slider .slide .carousel-inner .carousel-item h1 {
    font-size: 1.1em;
  }
}

/* line 739, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner .carousel-item h1 .one {
  position: relative;
  background: #5b5b5b;
  padding: 5px 10px;
}

/* line 743, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner .carousel-item h1 .one:after {
  height: 100%;
  width: 100%;
}

/* line 747, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner .carousel-item h1 .two {
  position: relative;
  background: #e44040;
  padding: 5px 20px;
}

/* line 751, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner .carousel-item h1 .two:after {
  height: 100%;
  width: 100%;
}

/* line 755, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner .carousel-item form {
  width: 100%;
}

/* line 757, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner .carousel-item form .campo {
  width: 23%;
  margin: 0 6px;
  border-radius: 15px;
  text-align: center;
  transition: .4s ease-in-out;
}

@media (max-width: 768px) {
  /* line 757, sass/avaluo-styles.sass */
  section.slider .slide .carousel-inner .carousel-item form .campo {
    width: 70%;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

@media (max-width: 556px) {
  /* line 757, sass/avaluo-styles.sass */
  section.slider .slide .carousel-inner .carousel-item form .campo {
    width: 100%;
    height: auto;
  }
}

/* line 771, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner .carousel-item form .campo:focus {
  outline: 0;
  box-shadow: none;
  border: 1px solid red;
}

/* line 775, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner .carousel-item form .select {
  width: 25%;
  margin: 0 6px;
  border-radius: 15px;
  text-align: center;
  color: gray;
  transition: .4s ease-in-out;
}

@media (max-width: 768px) {
  /* line 775, sass/avaluo-styles.sass */
  section.slider .slide .carousel-inner .carousel-item form .select {
    width: 70%;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

@media (max-width: 556px) {
  /* line 775, sass/avaluo-styles.sass */
  section.slider .slide .carousel-inner .carousel-item form .select {
    width: 100%;
    height: auto;
  }
}

/* line 790, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner .carousel-item form .select:focus {
  outline: 0 !important;
  box-shadow: none;
  border: 1px solid red;
}

/* line 794, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner .carousel-item form .select option {
  text-align: center;
}

@media (max-width: 768px) {
  /* line 794, sass/avaluo-styles.sass */
  section.slider .slide .carousel-inner .carousel-item form .select option {
    width: 100%;
  }
}

/* line 798, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner .carousel-item form .enviar {
  width: 20%;
  cursor: pointer;
  border: 0;
  background: red;
  border-radius: 15px;
  color: white;
  transition: .5s ease-in-out;
}

/* line 806, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner .carousel-item form .enviar:hover {
  background: #3C5B93;
}

@media (max-width: 768px) {
  /* line 798, sass/avaluo-styles.sass */
  section.slider .slide .carousel-inner .carousel-item form .enviar {
    width: 40%;
    margin: 10px auto;
    font-size: 2em;
  }
}

@media (max-width: 556px) {
  /* line 798, sass/avaluo-styles.sass */
  section.slider .slide .carousel-inner .carousel-item form .enviar {
    font-size: 1.0em;
    margin-bottom: 0;
  }
}

/* line 815, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner .carousel-item .result {
  margin-top: 30px;
  position: relative;
}

/* line 818, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner .carousel-item .result span.title-valor {
  position: absolute;
  display: block;
  left: 50%;
  top: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 6px 15px;
  background: #3C5B93;
  color: white;
  font-family: 'roboto_condensedlight_italic';
  font-size: .85em;
}

@media (max-width: 556px) {
  /* line 818, sass/avaluo-styles.sass */
  section.slider .slide .carousel-inner .carousel-item .result span.title-valor {
    font-size: .65em;
  }
}

/* line 831, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner .carousel-item .result span.valor {
  font-family: 'roboto_condensedlight_italic';
  padding: 10px 80px;
  background: white;
  font-size: 1.5em;
  color: #4C4C4C;
  position: relative;
}

@media (max-width: 768px) {
  /* line 831, sass/avaluo-styles.sass */
  section.slider .slide .carousel-inner .carousel-item .result span.valor {
    padding: 10px 30px;
  }
}

@media (max-width: 556px) {
  /* line 831, sass/avaluo-styles.sass */
  section.slider .slide .carousel-inner .carousel-item .result span.valor {
    font-size: 1.2em;
  }
}

/* line 842, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner .carousel-item .result span.valor:after {
  content: '';
  background-image: url(../../img/border-right.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  position: absolute;
  right: -20px;
  top: -13px;
  opacity: 1;
  transition: .4s ease-in-out;
  z-index: 100000;
}

/* line 857, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner .carousel-item .result span.valor:before {
  content: '';
  background-image: url(../../img/border-left.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  position: absolute;
  left: -20px;
  bottom: -13px;
  opacity: 1;
  transition: .4s ease-in-out;
}

/* line 872, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner .carousel-item .registrate {
  color: white;
  font-family: 'roboto_condensedbold_italic';
  text-align: center;
  display: inline-block;
  font-size: 2em;
  margin-top: 50px;
  background: red;
  padding: 10px 20px;
  text-decoration: none;
}

@media (max-width: 768px) {
  /* line 872, sass/avaluo-styles.sass */
  section.slider .slide .carousel-inner .carousel-item .registrate {
    font-size: 1.3em;
    padding: 10px 30px;
  }
}

@media (max-width: 556px) {
  /* line 872, sass/avaluo-styles.sass */
  section.slider .slide .carousel-inner .carousel-item .registrate {
    font-size: .85em;
    padding: 10px 30px;
  }
}

/* line 889, sass/avaluo-styles.sass */
section.slider .slide .carousel-inner .search {
  background-image: url(../../img/search.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
}

/* line 897, sass/avaluo-styles.sass */
section.slider .arrow i {
  color: red !important;
}

@media (max-width: 768px) {
  /* line 899, sass/avaluo-styles.sass */
  section.slider .arrow .fa-arrow-left {
    position: absolute;
    bottom: 0px;
    background: black;
    padding: 20px;
    color: white !important;
    left: 0;
    opacity: .85 !important;
  }
}

@media (max-width: 768px) {
  /* line 908, sass/avaluo-styles.sass */
  section.slider .arrow .fa-arrow-right {
    position: absolute;
    bottom: 0px;
    background: black;
    padding: 20px;
    color: white !important;
    right: 0;
    opacity: .85 !important;
  }
}

@media (max-width: 768px) {
  /* line 919, sass/avaluo-styles.sass */
  section.about {
    height: 130vh;
  }
}

@media (max-width: 556px) {
  /* line 919, sass/avaluo-styles.sass */
  section.about {
    height: 240vh;
  }
}

/* line 924, sass/avaluo-styles.sass */
section.about h2.title-quienes {
  font-family: 'roboto_condensedlight';
  color: #8D8D8D;
  padding: 10px 0;
  text-align: center;
}

/* line 929, sass/avaluo-styles.sass */
section.about h2.title-quienes span {
  color: red;
}

/* line 931, sass/avaluo-styles.sass */
section.about p {
  color: #898989;
  text-align: justify;
  font-size: 1em;
}

/* line 936, sass/avaluo-styles.sass */
section.about ul li {
  color: #898989;
  font-size: 1em;
}

/* line 939, sass/avaluo-styles.sass */
section.about p.small {
  padding: 20px;
  background: #0066ad;
  color: white;
  font-size: .7em;
}

/* line 944, sass/avaluo-styles.sass */
section.about h2.info-important {
  margin: 0;
}

/* line 946, sass/avaluo-styles.sass */
section.services {
  padding-top: 70px;
}

@media (max-width: 768px) {
  /* line 946, sass/avaluo-styles.sass */
  section.services {
    height: 220%;
  }
}

@media (max-width: 556px) {
  /* line 946, sass/avaluo-styles.sass */
  section.services {
    padding-top: 10px;
    height: 180vh;
  }
}

/* line 954, sass/avaluo-styles.sass */
section.services .avaluo1 .title-section {
  height: 30%;
}

@media (max-width: 768px) {
  /* line 954, sass/avaluo-styles.sass */
  section.services .avaluo1 .title-section {
    margin-top: 50px;
    height: auto;
  }
}

/* line 959, sass/avaluo-styles.sass */
section.services .avaluo1 .title-section h2 {
  font-family: 'roboto_condensedlight';
  text-transform: uppercase;
  color: red;
  text-align: center;
  line-height: 30px;
  position: relative;
}

/* line 966, sass/avaluo-styles.sass */
section.services .avaluo1 .title-section h2:after {
  content: '';
  position: absolute;
  width: 50px;
  height: 80px;
  background: url(../../img/arrow-blue.png);
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  left: 10%;
  top: 50%;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

@media (max-width: 768px) {
  /* line 966, sass/avaluo-styles.sass */
  section.services .avaluo1 .title-section h2:after {
    left: 20%;
  }
}

@media (max-width: 556px) {
  /* line 966, sass/avaluo-styles.sass */
  section.services .avaluo1 .title-section h2:after {
    left: 5%;
    width: 30px;
    height: 60px;
  }
}

/* line 984, sass/avaluo-styles.sass */
section.services .avaluo1 .title-section h2:before {
  content: '';
  position: absolute;
  width: 50px;
  height: 80px;
  background: url(../../img/arrow-blue.png);
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  right: 10%;
  top: 50%;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

@media (max-width: 768px) {
  /* line 984, sass/avaluo-styles.sass */
  section.services .avaluo1 .title-section h2:before {
    right: 20%;
  }
}

@media (max-width: 556px) {
  /* line 984, sass/avaluo-styles.sass */
  section.services .avaluo1 .title-section h2:before {
    right: 5%;
    width: 30px;
    height: 60px;
  }
}

/* line 1002, sass/avaluo-styles.sass */
section.services .avaluo1 .title-section h2 .avaluo {
  font-size: 1.6em;
  color: #5A5A5A;
}

/* line 1005, sass/avaluo-styles.sass */
section.services .avaluo1 .title-section h2 .tipo {
  position: relative;
  font-family: 'roboto_condensedbold';
  font-size: .87em;
  color: #0066ad;
}

/* line 1010, sass/avaluo-styles.sass */
section.services .avaluo1 .title-section h3 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'roboto_condensedlight_italic';
  margin-bottom: 40px;
}

/* line 1015, sass/avaluo-styles.sass */
section.services .avaluo1 .title-section h3 span {
  color: #0066ad;
  font-family: 'roboto_condensedlight_italic';
}

/* line 1018, sass/avaluo-styles.sass */
section.services .avaluo1 .info {
  background: url(../../img/back-avaluo.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
  height: 70%;
}

@media (max-width: 768px) {
  /* line 1018, sass/avaluo-styles.sass */
  section.services .avaluo1 .info {
    height: auto;
    padding: 40px;
  }
}

@media (max-width: 556px) {
  /* line 1018, sass/avaluo-styles.sass */
  section.services .avaluo1 .info {
    padding: 0px;
  }
}

/* line 1030, sass/avaluo-styles.sass */
section.services .avaluo1 .info p {
  color: #363636;
}

/* line 1033, sass/avaluo-styles.sass */
section.services .avaluo1 .info ul {
  margin-bottom: 30px;
}

@media (max-width: 1366px) {
  /* line 1033, sass/avaluo-styles.sass */
  section.services .avaluo1 .info ul {
    display: none;
  }
}

/* line 1037, sass/avaluo-styles.sass */
section.services .avaluo1 .info ul li {
  font-family: 'roboto_condensedlight';
  color: #787878;
  text-align: justify;
}

@media (max-width: 1366px) {
  /* line 1037, sass/avaluo-styles.sass */
  section.services .avaluo1 .info ul li {
    font-size: .8em;
  }
}

/* line 1043, sass/avaluo-styles.sass */
section.services .avaluo1 .info .boton {
  background: #0066ad;
  padding: 10px 30px;
  color: white;
  transition: .6s ease-in-out;
  font-family: 'roboto_condensedbold';
  margin: 10px 20px;
  text-transform: uppercase;
}

@media (max-width: 556px) {
  /* line 1043, sass/avaluo-styles.sass */
  section.services .avaluo1 .info .boton {
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
  }
}

/* line 1057, sass/avaluo-styles.sass */
section.services .avaluo1 .info .boton:hover {
  text-decoration: none;
}

/* line 1060, sass/avaluo-styles.sass */
section.services .avaluo2 .title-section {
  height: 30%;
}

@media (max-width: 768px) {
  /* line 1060, sass/avaluo-styles.sass */
  section.services .avaluo2 .title-section {
    margin-top: 50px;
    height: auto;
  }
}

/* line 1065, sass/avaluo-styles.sass */
section.services .avaluo2 .title-section h2 {
  font-family: 'roboto_condensedlight';
  text-transform: uppercase;
  color: red;
  text-align: center;
  line-height: 30px;
  position: relative;
}

@media (max-width: 768px) {
  /* line 1065, sass/avaluo-styles.sass */
  section.services .avaluo2 .title-section h2 {
    margin-top: 80px;
    height: auto;
  }
}

@media (max-width: 556px) {
  /* line 1065, sass/avaluo-styles.sass */
  section.services .avaluo2 .title-section h2 {
    height: auto;
  }
}

/* line 1077, sass/avaluo-styles.sass */
section.services .avaluo2 .title-section h2:after {
  content: '';
  position: absolute;
  width: 50px;
  height: 80px;
  background: url(../../img/arrow-red.png);
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  left: 10%;
  top: 50%;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

@media (max-width: 768px) {
  /* line 1077, sass/avaluo-styles.sass */
  section.services .avaluo2 .title-section h2:after {
    left: 20%;
  }
}

@media (max-width: 556px) {
  /* line 1077, sass/avaluo-styles.sass */
  section.services .avaluo2 .title-section h2:after {
    left: 5%;
    width: 30px;
    height: 60px;
  }
}

/* line 1095, sass/avaluo-styles.sass */
section.services .avaluo2 .title-section h2:before {
  content: '';
  position: absolute;
  width: 50px;
  height: 80px;
  background: url(../../img/arrow-red.png);
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  right: 10%;
  top: 50%;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

@media (max-width: 768px) {
  /* line 1095, sass/avaluo-styles.sass */
  section.services .avaluo2 .title-section h2:before {
    right: 20%;
  }
}

@media (max-width: 556px) {
  /* line 1095, sass/avaluo-styles.sass */
  section.services .avaluo2 .title-section h2:before {
    right: 5%;
    width: 30px;
    height: 60px;
  }
}

@media (max-width: 556px) {
  /* line 1065, sass/avaluo-styles.sass */
  section.services .avaluo2 .title-section h2 {
    margin-top: 40px;
  }
}

/* line 1115, sass/avaluo-styles.sass */
section.services .avaluo2 .title-section h2 .avaluo {
  font-size: 1.6em;
  color: #5A5A5A;
}

/* line 1118, sass/avaluo-styles.sass */
section.services .avaluo2 .title-section h2 .tipo {
  position: relative;
  font-family: 'roboto_condensedbold';
  font-size: .87em;
  color: red;
}

/* line 1123, sass/avaluo-styles.sass */
section.services .avaluo2 .title-section h3 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'roboto_condensedlight_italic';
  margin-bottom: 40px;
}

/* line 1128, sass/avaluo-styles.sass */
section.services .avaluo2 .title-section h3 span {
  color: red;
  font-family: 'roboto_condensedlight_italic';
}

/* line 1131, sass/avaluo-styles.sass */
section.services .avaluo2 .info {
  background: url(../../img/back-avaluo.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70%;
  padding: 20px;
}

@media (max-width: 768px) {
  /* line 1131, sass/avaluo-styles.sass */
  section.services .avaluo2 .info {
    height: auto;
    padding: 40px;
  }
}

@media (max-width: 556px) {
  /* line 1131, sass/avaluo-styles.sass */
  section.services .avaluo2 .info {
    padding: 0px;
  }
}

/* line 1143, sass/avaluo-styles.sass */
section.services .avaluo2 .info p {
  color: #363636;
}

/* line 1146, sass/avaluo-styles.sass */
section.services .avaluo2 .info ul {
  margin-bottom: 30px;
}

@media (max-width: 1366px) {
  /* line 1146, sass/avaluo-styles.sass */
  section.services .avaluo2 .info ul {
    display: none;
  }
}

/* line 1150, sass/avaluo-styles.sass */
section.services .avaluo2 .info ul li {
  font-family: 'roboto_condensedlight';
  color: #787878;
}

@media (max-width: 1366px) {
  /* line 1150, sass/avaluo-styles.sass */
  section.services .avaluo2 .info ul li {
    font-size: .8em;
  }
}

/* line 1155, sass/avaluo-styles.sass */
section.services .avaluo2 .info .boton {
  background: red;
  padding: 10px 30px;
  color: white;
  transition: .6s ease-in-out;
  font-family: 'roboto_condensedbold';
  margin: 10px 20px;
  text-transform: uppercase;
}

@media (max-width: 556px) {
  /* line 1155, sass/avaluo-styles.sass */
  section.services .avaluo2 .info .boton {
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
  }
}

/* line 1169, sass/avaluo-styles.sass */
section.services .avaluo2 .info .boton:hover {
  text-decoration: none;
}

/* line 1171, sass/avaluo-styles.sass */
section.packages {
  background: url(../../img/background.jpg);
}

@media (max-width: 768px) {
  /* line 1171, sass/avaluo-styles.sass */
  section.packages {
    height: 100vh;
  }
}

@media (max-width: 556px) {
  /* line 1171, sass/avaluo-styles.sass */
  section.packages {
    height: 180vh;
  }
}

/* line 1177, sass/avaluo-styles.sass */
section.packages .titulo {
  padding: 100px;
}

@media (max-width: 768px) {
  /* line 1177, sass/avaluo-styles.sass */
  section.packages .titulo {
    padding: 30px;
  }
}

/* line 1181, sass/avaluo-styles.sass */
section.packages .package-column {
  width: 50%;
  float: left;
  padding: 0 15px;
}

@media (max-width: 556px) {
  /* line 1181, sass/avaluo-styles.sass */
  section.packages .package-column {
    width: 100%;
  }
}

/* line 1187, sass/avaluo-styles.sass */
section.packages h2 {
  font-family: 'roboto_condensedbold_italic';
  color: #0066ad;
  text-transform: uppercase;
  font-size: 2.7em;
  position: relative;
}

@media (max-width: 1366px) {
  /* line 1187, sass/avaluo-styles.sass */
  section.packages h2 {
    font-size: 2.2em;
  }
}

@media (max-width: 768px) {
  /* line 1187, sass/avaluo-styles.sass */
  section.packages h2 {
    text-align: center;
  }
}

/* line 1197, sass/avaluo-styles.sass */
section.packages h2 span {
  position: relative;
  color: #717171;
  font-size: .7em;
  display: block;
}

/* line 1202, sass/avaluo-styles.sass */
section.packages h2:after {
  content: '';
  width: 200px;
  height: 4px;
  background: red;
  position: absolute;
  top: -10px;
  left: 0;
}

@media (max-width: 768px) {
  /* line 1202, sass/avaluo-styles.sass */
  section.packages h2:after {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

/* line 1213, sass/avaluo-styles.sass */
section.packages h2:before {
  content: '';
  width: 150px;
  height: 4px;
  background: red;
  position: absolute;
  bottom: -10px;
  left: 0;
}

@media (max-width: 768px) {
  /* line 1213, sass/avaluo-styles.sass */
  section.packages h2:before {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

/* line 1224, sass/avaluo-styles.sass */
section.packages .card-header {
  border-bottom: 4px solid #757575;
}

@media (max-width: 1366px) {
  /* line 1224, sass/avaluo-styles.sass */
  section.packages .card-header {
    padding: 3px;
  }
}

/* line 1228, sass/avaluo-styles.sass */
section.packages .card-header .card-title {
  font-family: 'roboto_condensedbold';
  text-transform: uppercase;
  font-size: 2em;
  color: #626262;
}

@media (max-width: 1366px) {
  /* line 1228, sass/avaluo-styles.sass */
  section.packages .card-header .card-title {
    font-size: 1.3em;
    padding: 5px;
    margin-bottom: 0;
  }
}

/* line 1237, sass/avaluo-styles.sass */
section.packages .card-header .card-subtitle {
  color: #747474;
}

@media (max-width: 1366px) {
  /* line 1237, sass/avaluo-styles.sass */
  section.packages .card-header .card-subtitle {
    font-size: 1em;
  }
}

/* line 1241, sass/avaluo-styles.sass */
section.packages .card-body {
  padding-bottom: 0;
}

/* line 1243, sass/avaluo-styles.sass */
section.packages .card-body .boton {
  border-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #3675C3;
  border: none;
  cursor: pointer;
  padding: 10px 30px;
  transition: .3s ease-in-out;
  text-transform: uppercase;
}

/* line 1253, sass/avaluo-styles.sass */
section.packages .card-body .boton:hover {
  background: #434343;
  padding: 10px 50px;
}

/* line 1257, sass/avaluo-styles.sass */
section.packages .card-body ul {
  padding: 0;
}

/* line 1259, sass/avaluo-styles.sass */
section.packages .card-body ul li {
  list-style: none;
  border-bottom: 2px solid #5599c8;
  line-height: 60px;
}

@media (max-width: 1366px) {
  /* line 1259, sass/avaluo-styles.sass */
  section.packages .card-body ul li {
    line-height: 30px;
  }
}

/* line 1265, sass/avaluo-styles.sass */
section.packages .card-body .card-text {
  text-transform: uppercase;
  font-size: 1.2em;
}

@media (max-width: 1366px) {
  /* line 1265, sass/avaluo-styles.sass */
  section.packages .card-body .card-text {
    font-size: .8em;
  }
}

@media (max-width: 768px) {
  /* line 1265, sass/avaluo-styles.sass */
  section.packages .card-body .card-text {
    font-size: .8em;
  }
}

/* line 1272, sass/avaluo-styles.sass */
section.packages .card-body .card-text .column {
  width: 50%;
  float: left;
  padding: 0 15px;
}

/* line 1277, sass/avaluo-styles.sass */
section.packages .card-body .card-text .price {
  font-family: 'roboto_condensedbold';
  color: #616161;
}

@media (max-width: 556px) {
  /* line 1280, sass/avaluo-styles.sass */
  section.contacto {
    height: 200vh;
  }
}

/* line 1283, sass/avaluo-styles.sass */
section.contacto .form-container {
  padding: 40px;
}

/* line 1285, sass/avaluo-styles.sass */
section.contacto .form-container h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'roboto_condensedbold';
  color: #727272;
}

@media (max-width: 1366px) {
  /* line 1285, sass/avaluo-styles.sass */
  section.contacto .form-container h2 {
    font-size: 1em;
  }
}

@media (max-width: 768px) {
  /* line 1285, sass/avaluo-styles.sass */
  section.contacto .form-container h2 {
    font-size: 1.6em;
  }
}

/* line 1294, sass/avaluo-styles.sass */
section.contacto .form-container h2 span {
  color: #4A7DDB;
  font-size: 1.3em;
}

/* line 1297, sass/avaluo-styles.sass */
section.contacto .form-container form {
  width: 100%;
}

/* line 1299, sass/avaluo-styles.sass */
section.contacto .form-container form .campo {
  width: 100%;
  border-radius: 15px;
  text-align: center;
  transition: .4s ease-in-out;
}

@media (max-width: 768px) {
  /* line 1299, sass/avaluo-styles.sass */
  section.contacto .form-container form .campo {
    width: 70%;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

@media (max-width: 556px) {
  /* line 1299, sass/avaluo-styles.sass */
  section.contacto .form-container form .campo {
    width: 100%;
    height: auto;
  }
}

/* line 1312, sass/avaluo-styles.sass */
section.contacto .form-container form .campo:focus {
  outline: 0;
  box-shadow: none;
  border: 1px solid red;
}

/* line 1316, sass/avaluo-styles.sass */
section.contacto .form-container form .btn {
  border: none;
}

/* line 1318, sass/avaluo-styles.sass */
section.contacto .form-container form .btn:hover {
  background: #4A7DDB;
}

/* line 1320, sass/avaluo-styles.sass */
section.contacto p {
  font-size: 1em;
}

@media (max-width: 1366px) {
  /* line 1320, sass/avaluo-styles.sass */
  section.contacto p {
    font-size: .8em;
  }
}

/* line 1324, sass/avaluo-styles.sass */
section.contacto i {
  font-size: 2em;
  display: inline-block;
  float: left;
  padding: 10px;
  color: #595959;
}

/* line 1330, sass/avaluo-styles.sass */
section.contacto .photo {
  height: 100vh;
  background-image: url(../../img/contacto2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 1336, sass/avaluo-styles.sass */
section.contacto .photo h2 {
  text-transform: uppercase;
  font-family: 'roboto_condensedbold';
  padding: 10px 20px;
  border: 3px solid red;
  display: inline-block;
}

/* line 1342, sass/avaluo-styles.sass */
section.contacto .photo h2 a {
  color: white;
  transition: .2s;
}

/* line 1345, sass/avaluo-styles.sass */
section.contacto .photo h2 a:hover {
  text-decoration: none;
  padding: 10px 40px;
}

/* line 1349, sass/avaluo-styles.sass */
section.footer {
  height: 100%;
  position: relative;
}

/* line 1352, sass/avaluo-styles.sass */
section.footer h2.aliados {
  font-family: 'roboto_condensedbold_italic';
  text-transform: uppercase;
  color: #0066ad;
  font-size: 1.5em;
}

@media (max-width: 556px) {
  /* line 1352, sass/avaluo-styles.sass */
  section.footer h2.aliados {
    padding-top: 50px;
  }
}

/* line 1359, sass/avaluo-styles.sass */
section.footer h2.aliados span {
  color: #707070;
}

/* line 1361, sass/avaluo-styles.sass */
section.footer .logos {
  width: 90%;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media (max-width: 556px) {
  /* line 1361, sass/avaluo-styles.sass */
  section.footer .logos {
    margin: 30px auto;
  }
}

/* line 1368, sass/avaluo-styles.sass */
section.footer .footer-content {
  background: #353535;
  padding: 50px;
  position: relative;
  height: 30%;
  width: 100%;
}

/* line 1374, sass/avaluo-styles.sass */
section.footer .footer-content:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  display: block;
  top: 0px;
  left: 50%;
  z-index: 10;
  background: url(../../img/bar-footer.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top left;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/* line 1388, sass/avaluo-styles.sass */
section.footer strong {
  color: white;
}

/* line 1390, sass/avaluo-styles.sass */
section.footer p {
  color: #B2B2B2;
}

/* line 1392, sass/avaluo-styles.sass */
section.footer ul {
  padding: 0;
  padding-left: 10px;
}

/* line 1395, sass/avaluo-styles.sass */
section.footer ul li {
  list-style: none;
}

/* line 1397, sass/avaluo-styles.sass */
section.footer ul li a {
  color: #B2B2B2;
}

/* line 1399, sass/avaluo-styles.sass */
section.footer ul li a:hover {
  text-decoration: none;
}

/* line 1401, sass/avaluo-styles.sass */
section.form-registro {
  background: rgba(227, 37, 34, 0.895);
}

/* line 1403, sass/avaluo-styles.sass */
section.form-registro h1, section.form-registro h2, section.form-registro h3, section.form-registro h4, section.form-registro p {
  color: white;
  text-transform: uppercase;
}

/* line 1407, sass/avaluo-styles.sass */
section.form-registro form .campo {
  width: 100%;
  border-radius: 15px;
  transition: .4s ease-in-out;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  /* line 1407, sass/avaluo-styles.sass */
  section.form-registro form .campo {
    width: 70%;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

@media (max-width: 556px) {
  /* line 1407, sass/avaluo-styles.sass */
  section.form-registro form .campo {
    width: 100%;
    height: auto;
  }
}

/* line 1420, sass/avaluo-styles.sass */
section.form-registro form .campo:focus {
  outline: 0;
  box-shadow: none;
  border: 1px solid red;
}

/* line 1424, sass/avaluo-styles.sass */
section.form-registro form .select {
  margin-bottom: 20px;
  border-radius: 15px;
  text-align: center;
  color: gray;
  transition: .4s ease-in-out;
}

@media (max-width: 768px) {
  /* line 1424, sass/avaluo-styles.sass */
  section.form-registro form .select {
    width: 70%;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

@media (max-width: 556px) {
  /* line 1424, sass/avaluo-styles.sass */
  section.form-registro form .select {
    width: 100%;
    height: auto;
  }
}

/* line 1438, sass/avaluo-styles.sass */
section.form-registro form .select:focus {
  outline: 0 !important;
  box-shadow: none;
  border: 1px solid red;
}

/* line 1442, sass/avaluo-styles.sass */
section.form-registro form .select option {
  text-align: center;
}

@media (max-width: 768px) {
  /* line 1442, sass/avaluo-styles.sass */
  section.form-registro form .select option {
    width: 100%;
  }
}

/* line 1446, sass/avaluo-styles.sass */
section.form-registro .facebook-login {
  width: 100%;
  padding: 10px;
  text-align: center;
  display: block;
  text-decoration: none;
  background: #1064B2;
  color: white;
  margin-top: 10px;
  transition: .5s;
}

/* line 1456, sass/avaluo-styles.sass */
section.form-registro .facebook-login:hover {
  background: #143F64;
}

/* line 1458, sass/avaluo-styles.sass */
section.form-registro .registro-user {
  width: 100%;
  padding: 10px;
  text-align: center;
  display: block;
  text-decoration: none;
  background: #434343;
  color: white;
  margin-top: 10px;
  transition: .5s;
}

/* line 1468, sass/avaluo-styles.sass */
section.form-registro .registro-user:hover {
  background: #1F1F1F;
}

/* line 1471, sass/avaluo-styles.sass */
section.checkout {
  background: url(../../img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  height: calc(130vh - 100px);
}

@media (max-width: 556px) {
  /* line 1471, sass/avaluo-styles.sass */
  section.checkout {
    height: 300vh;
  }
}

/* line 1479, sass/avaluo-styles.sass */
section.checkout .datos {
  text-transform: uppercase;
  color: #929292;
}

/* line 1482, sass/avaluo-styles.sass */
section.checkout h1.informacion1 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 100px;
}

/* line 1486, sass/avaluo-styles.sass */
section.checkout h2.informacion {
  color: #0066ad;
  text-shadow: none;
  margin: 0;
  padding-top: 50px;
}

/* line 1492, sass/avaluo-styles.sass */
section.checkout h2.informacion span {
  color: #9D9D9D;
  font-size: .86em;
}

/* line 1495, sass/avaluo-styles.sass */
section.checkout h2 {
  font-family: 'roboto_condensedbold';
  color: white;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  margin: 20px 0;
}

/* line 1502, sass/avaluo-styles.sass */
section.checkout .table-checkout {
  font-family: 'roboto_condensedlight';
}

/* line 1504, sass/avaluo-styles.sass */
section.checkout .btn-dark {
  width: 100%;
}

/* line 1506, sass/avaluo-styles.sass */
section.checkout .comprar {
  position: relative;
  background-image: url(../../img/contacto2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 1512, sass/avaluo-styles.sass */
section.checkout .comprar .table-absolute {
  position: fixed;
  width: 500px;
  top: 20%;
  top-left: 50%;
  top-transform: translate(-50%, -50%);
  top-z-index: 100000000000;
}

/* line 1519, sass/avaluo-styles.sass */
section.checkout .order {
  position: relative;
  width: 100%;
  height: 100%;
}

@media (max-width: 556px) {
  /* line 1519, sass/avaluo-styles.sass */
  section.checkout .order {
    height: auto;
  }
}

/* line 1526, sass/avaluo-styles.sass */
section.checkout form .campo {
  width: 100%;
  border-radius: 15px;
  text-align: center;
  transition: .4s ease-in-out;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  /* line 1526, sass/avaluo-styles.sass */
  section.checkout form .campo {
    width: 70%;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

@media (max-width: 556px) {
  /* line 1526, sass/avaluo-styles.sass */
  section.checkout form .campo {
    width: 100%;
    height: auto;
  }
}

/* line 1540, sass/avaluo-styles.sass */
section.checkout form .campo:focus {
  outline: 0;
  box-shadow: none;
  border: 1px solid red;
}

/* line 1544, sass/avaluo-styles.sass */
section.checkout form .select {
  margin-bottom: 20px;
  border-radius: 15px;
  text-align: center;
  color: gray;
  transition: .4s ease-in-out;
}

@media (max-width: 768px) {
  /* line 1544, sass/avaluo-styles.sass */
  section.checkout form .select {
    width: 70%;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

@media (max-width: 556px) {
  /* line 1544, sass/avaluo-styles.sass */
  section.checkout form .select {
    width: 100%;
    height: auto;
  }
}

/* line 1558, sass/avaluo-styles.sass */
section.checkout form .select:focus {
  outline: 0 !important;
  box-shadow: none;
  border: 1px solid red;
}

/* line 1562, sass/avaluo-styles.sass */
section.checkout form .select option {
  text-align: center;
}

@media (max-width: 768px) {
  /* line 1562, sass/avaluo-styles.sass */
  section.checkout form .select option {
    width: 100%;
  }
}
